[2017-12-05 02:51] DennisLfromGA opened #534 "ChromeOS removed 'wget'"
I'm not sure about Chromium OS but just recently Chrome OS has removed the '`wget`' command so '`curl`' is used instead.

Perhaps the README.mkdn ln\#28 could be changed to something like:

1. Download the executable file and put it under the `/usr/local/bin/` directory: `sudo curl -# -o /usr/local/bin/screenfetch-dev https://raw.githubusercontent.com/KittyKatt/screenFetch/master/screenfetch-dev`

[2017-12-06 12:04] darealshinji commented on #534
It's updated.

[2017-12-06 12:04] #534 closed

[2017-12-06 17:59] DennisLfromGA commented on #534
Thanx, that was quick. 👍

[2017-12-07 12:08] OXEDAN1337 opened #535 "Syntax invalid"
I'm running FreeBSD 9.3
root@root599745:~ # sh screenfetch-dev
system: 47: Syntax error: word unexpected (expecting ")")

root@root599745:~ # python screenfetch-dev
  File "screenfetch-dev", line 47
    valid_display=( distro host kernel uptime pkgs shell res de wm wmtheme gtk disk cpu gpu mem )
                              ^
SyntaxError: invalid syntax

How can i fix?

[2017-12-07 12:20] darealshinji commented on #535
You need to run it with bash, not sh. You also need fdescfs(5) and procfs(5) to be mounted.

[2017-12-10 20:16] oaken-source opened #536 "/etc/os-release vs /usr/lib/os-release"
screenFetch seems to only check for the os-release file in /etc/os-release, but another possible location for the file would be /usr/lib/os-release, as stated here:
https://www.freedesktop.org/software/systemd/man/os-release.html

In fact, on parabola GNU/Linux, /etc/os-release used to be a symlink to /usr/lib/os-release, and apparently is missing from current releases, which causes the distro to

[2017-12-12 10:47] WyRe opened #537 "Unary operator expected through SSH"
I haven't got any issue when I include screenfetch in my .bashrc but when this .bashrc is in a remote server and I connect it via SSH I get the following message:

[code]

[2017-12-12 10:56] darealshinji commented on #537
What's the output of `screenfetch -v`?

[2017-12-12 11:06] WyRe commented on #537
[code]

[2017-12-12 11:26] darealshinji commented on #536
I've added some checks: https://github.com/KittyKatt/screenFetch/commit/e1a90cc33aeb140560d3261b4df3540aa1c97758

[2017-12-12 11:42] oaken-source commented on #536
thank you, I can confirm that it works as expected now :)

[2017-12-12 13:08] #536 closed

[2017-12-16 12:41] PharmaceuticalCobweb commented on #472
Not sure that this will help but I'm on a GM45 laptop on Parabola. For me screenfetch displays only 'Intel' for the GPU unless I have the mesa-demos package installed.

[2017-12-22 16:53] idvoretskyi commented on #91
https://github.com/KittyKatt/screenFetch/pull/390

[2018-01-03 09:20] whoisnian opened #538 "Maybe a spelling mistake."
When I try `cat /proc/meminfo` in my Arch Linux and CentOS, I both get 'Shmem' but not 'ShMem'.
In Memory Detection part of the 'screenfetch-dev', there is 'ShMem' in line 1519.

[2018-01-03 09:55] darealshinji commented on #538
Yes, a mistake. I also realize that the size displayed is a multiple of 10, not 2, as the `i` in `MiB` implies. I'm also getting a slightly different value on the MATE desktop monitor for used memory. Not calculating out the `"Buffers"` value gives me the same value. I'll do some more testing to figure out which value is the correct one. It should probably be checked on non-Linux systems too wheth

[2018-01-04 23:36] kepfle opened #539 "Antergos recognized as arch"
No idea how long this has been going on, but I just noticed Antergos gets recognized as Arch.

[2018-01-06 19:53] james-r-smith opened #540 "Add Support for Hyper Terminal / Shell Arguments"
I'm using the [Hyper](https://hyper.is/) terminal, and I am noticing that since Hyper brings up bash through a command, such as `/bin/bash --login`, the arguments cause the version to not be displayed.

I'm on Elementary OS, and my output of screenfetch is the following:

[code]

As you can see, it shows `bash -login`. Would love to see the version. Thanks. :blush:

[2018-01-17 20:24] virtualdemon opened #541 "Add support for KDE neon"
#126
WebSite : https://neon.kde.org/
Logo : [GoogleImageSearch](https://www.google.nl/search?q=kde+neon+logo&client=firefox-b-ab&dcr=0&tbm=isch&tbo=u&source=univ&sa=X&ved=0ahUKEwjj39rE3N_YAhWHY1AKHV-4CcsQsAQIKA&biw=1024&bih=622#imgrc=pEvqm-t5go0mJM:) &  [Wikimedia](https://commons.wikimedia.org/wiki/File:Neon-logo.svg)
Ascii logo : [LOGO](https://raw.githubusercontent.com/dylanaraps/neofetch/maste

[2018-01-30 05:42] #538 closed

[2018-01-30 07:39] darealshinji opened #542 "RAM on Linux"
I'm trying to find a better and more accurate way to calculate the RAM usage on Linux.

I came up with this, using the `total` and `used` output of `free(1)`:
[code]

Any ideas/suggestions?

[2018-02-11 08:22] Rizwan-Hasan opened #544 "Add support for MagpieOS"
It will be very helpfull for me if screenfetch add suports for MagpieOS.
http://magpieos.net

[2018-02-19 23:36] ryanrms opened #545 "Screenfetch displays incorrect WM Theme for Budgie / BudgieWM"
Selected output from screenFetch - Version 3.8.0:
DE: Budgie
WM: BudgieWM
WM Theme: Mint-X
GTK Theme: Arc [GTK2/3]

I'm running Linux Mint, which originally came with Cinnamon.  It's displaying the correct WM Theme for Cinnamon, but I'm using Budgie which has a different theme applied, Arc.  It also displays the correct GTK2/3 theme and picks up on changes made using budgie-desktop-settings, but n

[2018-02-19 23:44] ryanrms commented on #545
I tried switching to Cinnamon and changing the theme to Arc, to see if it would change the output of screenfetch in Budgie.  It didn't, it still reports the WM Theme as Mint-X.

[2018-02-19 23:53] ryanrms commented on #545
Downloaded the gnome-tweak-tool to see if that would make a difference.  It also doesn't differentiate between Window Decorations and GTK Theme, and switching to different themes does change Budgie's appearance but it doesn't change the "WM Theme" in screenfetch from "Mint-X" which is the default on Linux Mint.

[2018-02-20 22:32] ryanrms commented on #545
Ended up reinstalling regular Ubuntu and adding the ubuntu-budgie-desktop package.  It appears to come with a newer version of Budgie which includes the Plank dock.

Same behaviour seems to be reoccurring though, now the WM Theme is stuck on Arc-Darker, and doesn't change when you change the GTK Theme in budgie-desktop-settings or gnome-tweak-tool.  The Window decorations do change with the GTK th

[2018-02-24 02:03] ryanrms commented on #545
I ditched Ubuntu Budgie and reinstalled Ubuntu 17.10 which comes with GNOME Shell, however this behaviour is still happening with GNOME.  Currently it says that the WM Theme is Adwaita, when it's Arc-Darker.   So it's not just Budgie that has this bug, but seems to be a bug with all GNOME-based window managers.

[2018-03-06 20:48] tschaerni commented on #537
I also had the same warning. It's an easy fix (I don't think it's necessary to make a pull request)

Original Line:
`1341         if [ $gpu = intel ]; then`
Fix:
`1341         if [ "$gpu" = "intel" ]; then`
Or (that one is only bash conform):
`1341         if [[ $gpu = intel ]]; then`

explanation --> https://stackoverflow.com/questions/13617843/unary-operator-expected

[2018-03-06 22:46] darealshinji commented on #537
Thanks for the info. The recent version already had the double brackets, but I've added the quotes anyway.

[2018-03-06 22:46] #537 closed

[2018-03-12 12:11] cdancy commented on #249
Closing as coreos is now dead and has been absorbed by red hat.

[2018-03-12 12:11] #249 closed

[2018-03-12 12:46] beetle060 opened #547 "CPU unknown"
My Computer (an Atari Falcon from 1992 :) ) running Debian Sid has a Motorola MC68060 CPU.

root@beetles-falcon:/# cat /proc/cpuinfo
CPU:            68060
MMU:            68060
FPU:            68060
Clocking:       89.8MHz
BogoMips:       179.60
Calibration:    898048 loops
root@beetles-falcon:/# screenfetch -n
 root@beetles-falcon
 OS: Debian unstable sid
 Kernel: m68k Linux 4.14.0-1-m68k
 Uptime

[2018-03-16 15:59] KittyKatt commented on #544
@Rizwan-Hasan Would you mind posting a link to some kind of logo asset? Something I can make the ASCII out of. Thanks

[2018-03-16 16:00] KittyKatt commented on #525
I'll see about getting on this soon, thanks for the request!

[2018-03-16 16:00] KittyKatt commented on #480
Could you provide the links to some logo assets and perhaps outputs of /etc/lsb-release or /etc/os-release ?

[2018-03-16 16:02] KittyKatt commented on #409
Thanks for the request, I'll try to get on this ASAP.

[2018-03-16 16:03] KittyKatt commented on #404
Thanks for the request, I'll see to this as soon as I can.

[2018-03-16 16:56] KittyKatt commented on #539
That's interesting. I have an Antergos VM at home I can spin up and test this weekend. Thanks!

[2018-03-17 05:40] Rizwan-Hasan commented on #544
![magpie os-green transparent](https://user-images.githubusercontent.com/16849373/37552082-046fea7e-29d8-11e8-9e76-936fd69dc5de.png)

[2018-03-20 04:22] fearphage opened #549 "Errors thrown and wrong theme values in Ubuntu (17.10)"
Version: 3.8.0 (installed from default Ubuntu repo)

## Problem

Errors are thrown from `screenfetch` (`gsettings` actually) and the following values are reported incorrectly (for Compiz?):

* WM Theme
* GTK Theme
* Icon Theme

[code]

## Partial Fix

I found a [partial solution](conda-forge/glib-feedstock#19) in this thread. There is a proposed [fix](https://github.com/conda-forge/glib-feedstock/

[2018-03-20 15:43] fearphage commented on #549
Yes, I get the same errors and the them information is incorrect. I just pulled the latest from master (`wget -O screenfetch-dev https://git.io/vaHf`):

[code]

[2018-03-21 04:37] roachsinai commented on #393
In my situation, screenfetch works well. But if I checkout an anaconda env same thing happend.

[2018-03-21 04:56] roachsinai commented on #393
I found a solution: [Gsettings not working (to change wallpaper)](https://ubuntu-mate.community/t/gsettings-not-working-to-change-wallpaper/13867/15)

I agree the idea anaconda hijacks the gsetting. And it works well.

[2018-03-27 01:20] kq01526 opened #550 "screenfetch reports WM as GNOME Shell even though it's Mutter"
Hi @KittyKatt ,

GNOME's window manager is called "Mutter", not "GNOME Shell".

Regards

[2018-03-27 01:23] kq01526 commented on #539
Probably related to: https://github.com/Antergos/Cnchi/issues/853

[2018-03-28 03:04] Xmetalfanx commented on #541
This is fixed already, but not in the release offered by default via Neon/ 16.04 ... I am on Neon and was actually going to try to add the code myself when i noticed it's already there

by adding the PPA listed in the README section I can confirm that this updated version has the fix for Neon `screenfetch/xenial,xenial 3.8.0-3~xenial all [upgradable from: 3.7.0-1]` is exactly what was upgraded

ht

[2018-03-28 12:38] FadeMind opened #551 "gpu detection cannot recognized Intel HD GPU"
HI, screenfetch cannot recognize my iGPU and dGPU as well on Manjaro Linux. I used lastest git version from AUR too.

![screenshot_20180328_143530](https://user-images.githubusercontent.com/9846948/38029112-4717c71e-3295-11e8-8f64-2f33c85db7e7.png)

[code]

Regards

[2018-03-28 13:20] darealshinji commented on #541
Closing, since Neon is already supported.

[2018-03-28 13:20] #541 closed

[2018-03-30 02:04] Pablo1107 commented on #449
I have ArchWSL and this happens to me too. Any fix?

[2018-04-02 15:03] dahsameer commented on #449
@Pablo1107, dc72b5932e86ba9c4e36110408690abeb2004070 this commit fixed it for me

[2018-04-03 16:37] darealshinji commented on #449
Good point, that commit should have fixed it.

[2018-04-03 20:31] Xmetalfanx commented on #449
I can't comment on this exact issue, but I think it was on 16.04 (Ubuntu ..) based releases the default version of Screenfetch in the repos is not the newest version ... I wonder in some cases some of these issues ... heck i see "trusty" aka 14.04 in that screenshot ... are being caused by people running an older version of screenfetch before commits that fixed different issues were included.

[2018-04-03 22:05] Pablo1107 commented on #449
@dahsameer the latest version on the arch repo is screenfetch 3.8.0-2, when that commit was released?

[2018-04-04 12:28] darealshinji commented on #449
Maybe adding a template that tells the user he/she should check the latest version from git before making a bug report would help.

[2018-04-04 12:28] #449 closed

[2018-04-10 09:55] zwolsman opened #552 "Readlink illegal option -- f"
When running screen fetch (fresh install with brew) it prints the following after running `$ screenfetch`

[code]

Full output:
[code]

[2018-04-11 01:37] eebrown commented on #549
I just started getting this error after installing an NVIDIA graphics card (previously just using Intel integrated graphics).

[2018-04-11 01:49] eebrown commented on #549
I just started getting this error after installing an NVIDIA graphics card (previously just using Intel integrated graphics), regardless of whether I am using the NVIDIA or Intel as GPU. Ubuntu 17.10, same errors thrown, also incorrect values e.g. Font also says Cantarell.

[2018-04-13 04:53] KittyKatt commented on #550
I actually have a case statement to turn "GNOME Shell"* into "Mutter", but it's not actually working. Looking into it now.

[2018-04-13 05:57] KittyKatt commented on #539
@kq01526 I noticed that something happened with Antergos stuff over on inxi's IRC channel. Has anything changed on screenfetch end? I've not had a chance to test.

[2018-04-13 07:02] Rizwan-Hasan commented on #544
​

On Fri, Apr 13, 2018 at 11:23 AM, Brett Bohnenkamper <
notifications@github.com> wrote:

[2018-04-13 07:02] Rizwan-Hasan commented on #544
![screenshot from 2018-04-13 13-01-31](https://user-images.githubusercontent.com/16849373/38721180-ee41b040-3f1a-11e8-9a5a-8f256ff16294.png)

[2018-04-17 18:18] FadeMind commented on #551
_UPDATE_
Dedicated GPU is recognized corectly, iGPU NOT.
![screenshot_20180417_201626](https://user-images.githubusercontent.com/9846948/38888606-74f0f182-427c-11e8-9ffe-9c0788b89750.png)

[2018-04-22 13:03] wellton opened #553 "Add Support for PureOS"
Hello,

the PureOS is the Puri.sm`s Operating System. Could you please add support for PureOS in Screenfetch?
thanks!!

the cat /etc/*release here:

![captura de tela de 2018-04-22 10-02-26](https://user-images.githubusercontent.com/2234645/39095286-4e63d598-4614-11e8-9714-a9b4294b95fd.png)

[2018-04-25 02:41] rwv commented on #552
This error won't appear in the current master branch. However, homebrew still use version [3.8.0](https://github.com/KittyKatt/screenFetch/archive/v3.8.0.tar.gz) to install screenfetch which will appear `Readlink illegal option -- f` error.
[Homebrew/homebrew-core/Formula/screenfetch.rb](https://github.com/Homebrew/homebrew-core/blob/master/Formula/screenfetch.rb)

[2018-04-25 02:45] rwv commented on #552
See also #456

[2018-04-25 14:06] chilledfrogs commented on #552
Indeed @rwv, I just did `brew reinstall screenfetch --HEAD`, which pulls directly from the master branch, and works perfectly. Thanks! 😃

[2018-05-04 17:53] estuardolh opened #555 "BunsenLabs is not recognized"
Hello,

Could you please fix support for BunsenLabs in Screenfetch?

thank you! :smiley:

![2018-05-04-11-41-47_scrot](https://user-images.githubusercontent.com/3160468/39643232-9e52521a-4fc3-11e8-8823-86652973b203.png)
![2018-05-04-11-51-17_scrot](https://user-images.githubusercontent.com/3160468/39643299-dcb9e572-4fc3-11e8-9322-ab38c5737dad.png)

[2018-05-08 22:23] deusexcalamus opened #556 "Wrong CPU Temp on Intel NUC w/ Core i5 7260U"
Screenfetch shows -263.2c as the CPU temp for my brand new NUC:
![untitled](https://user-images.githubusercontent.com/8674645/39786014-2f55f15e-52e4-11e8-8d3a-4d9b8a0d7d5b.png)

[2018-05-09 15:06] ipat8 opened #557 "Add Amazon Linux Logo as a possible option."
I am aware that screenfetch may not run on amazon linux, but some of us run on AWS and would like it for the fun of it.

Thanks

[2018-05-09 15:08] ipat8 commented on #557
![image](https://user-images.githubusercontent.com/8889233/39822700-d9451aaa-5370-11e8-82ed-3bde137fa8d7.png)

[2018-05-09 16:10] deusexcalamus commented on #556
Thought I'd go ahead and add this info from lm-sensors:
coretemp-isa-0000
Adapter: ISA adapter
Package id 0:  +37.0°C  (high = +100.0°C, crit = +100.0°C)
Core 0:        +35.0°C  (high = +100.0°C, crit = +100.0°C)
Core 1:        +35.0°C  (high = +100.0°C, crit = +100.0°C)

acpitz-virtual-0
Adapter: Virtual device
temp1:       -263.2°C

iwlwifi-virtual-0
Adapter: Virtual device
temp1:            N/A

[2018-05-17 08:39] WyRe commented on #555
I having got the similar issue with ArchLinux 32 and the community repos package `screenfetch 3.8.0-2`

[2018-05-18 15:09] estuardolh commented on #555
About version
[code]

[2018-05-19 18:10] juangacovas opened #558 "Distro 'Tux' disables color for"
Very nice having 'Tux' to display a "penguin logo" by doing:
`$ screenfetch-dev -A 'Tux'
`
But then colors for extra info is missing (i.e. "OS", "Kernel" and "CPU" words are not red anymore)

[2018-05-30 09:04] darealshinji opened #560 "counting snap packages"
Should we count snap packages?

[code]

[2018-05-30 14:06] wellton commented on #553
Hi.. any news?

[2018-05-30 20:00] dylanaraps commented on #553
Got a logo?

[2018-05-31 13:31] darealshinji commented on #553
Well, that's a simple logo. Shouldn't be hard to add this.

[2018-05-31 13:49] wellton commented on #553
cool, I'll be waiting then.

[2018-05-31 23:35] dylanaraps commented on #553
Here's an ascii logo I made:

[code]

[2018-06-01 14:56] wellton commented on #553
show...  any date to enter the new release of screenfetch?

[2018-06-01 22:42] darealshinji commented on #553
What package manager does it use? How do you list the installed packages?

[2018-06-01 23:12] darealshinji commented on #553
I've added support for PureOS. Can you check it?

[2018-06-02 11:41] wellton commented on #553
Hello, yes, pureOS is based on Debian. Apt is used.

[2018-06-02 11:44] wellton commented on #553
wow... very beautiful...  =) thanks. The screenFetch project is strong. =)

![captura de tela em 2018-06-02 08-42-45](https://user-images.githubusercontent.com/2234645/40874063-f4c46438-6640-11e8-942a-bcba3fb98e2f.png)

[2018-06-02 14:46] #553 closed

[2018-06-02 14:47] darealshinji commented on #552
Closing since it was already fixed.

[2018-06-02 14:47] #552 closed

[2018-06-02 14:49] darealshinji commented on #555
3.6.5 is an outdated version. Does it work with the current version from Github?
https://github.com/KittyKatt/screenFetch/raw/master/screenfetch-dev

[2018-06-02 15:09] #549 closed

[2018-06-02 15:10] darealshinji commented on #549
It should be fixed now. Re-open if it still affects you.

[2018-06-02 15:13] darealshinji commented on #535
@OXEDAN1337 Does it run if you use bash(1) and have fdescfs(5) and procfs(5) mounted like I said?

[2018-06-02 15:18] #542 closed

[2018-06-02 15:19] darealshinji commented on #542
I've added this to the script but kept the old code as comments.

[2018-06-02 15:40] #560 closed

[2018-06-02 15:41] darealshinji commented on #560
I've added such a detection, but currently only for Linux.

[2018-06-02 20:21] erankitarora opened #562 "Getting error with readlink on macOS"
In this part of code where readlink is called, there is an invalid option -f which is given as an output when screenfetch is run:

elif readlink -f "$SHELL" 2>&1 | grep -q -i 'busybox'; then --> Here, -f can be avoided on macOS.

command run: **/usr/local/bin/screenfetch**
**readlink: illegal option -- f
usage: readlink [-n] [file ...]**

                 -/+:.
                :++++.          OS:

[2018-06-03 04:00] DavidBerdik opened #563 "awk: fatal: cannot open file `proc/fb' for reading on Ubuntu 18.04 for Windows 10"
This issue is similar to the one reported [here](https://github.com/KittyKatt/screenFetch/issues/449). After updating to Ubuntu 18.04 for Windows 10, this error appears. The only difference is that the `/usr/bin/screenfetch: line 1341: [: =: unary operator expected` is not present.

[2018-06-03 11:46] darealshinji commented on #562
Are you using the latest version from Github?

[2018-06-03 15:38] erankitarora commented on #562
screenfetch --version
screenFetch - Version 3.8.0

This is the version.

[2018-06-03 15:45] erankitarora commented on #562
![image](https://user-images.githubusercontent.com/8296708/40888302-eea60b46-6772-11e8-9e17-3232ecccd8e1.png)

As it can be seen in the screenshot, the latest master branch of screenfetch has the -f option with readlink and I saw readlink does not have any upgrades for macOS.

[2018-06-03 15:46] darealshinji commented on #562
Use the latest version from this repository: `brew reinstall screenfetch --HEAD`

I think brew should either install a newer snapshot or patch the release version. Maybe you can file a bug report there: https://github.com/Homebrew/homebrew-core/issues

See also: https://github.com/KittyKatt/screenFetch/issues/552 https://github.com/KittyKatt/screenFetch/issues/456

[2018-06-03 15:47] darealshinji commented on #562
Latest version still has it? Hmm, can you make a pull request with a fixed version?

[2018-06-04 16:32] estuardolh commented on #555
i updated screenfetch
[code]
but still the same result

[2018-06-04 17:08] darealshinji commented on #555
That's not the recent version from Github.
Download it i.e. with wget:
[code]

[2018-06-04 17:49] #555 closed

[2018-06-07 17:16] erankitarora commented on #562
It looks fixed now.

[2018-06-07 17:17] #562 closed

[2018-06-10 10:07] jens1o commented on #563
Also on Kali Linux for WSL

[2018-06-14 22:33] halars opened #566 "Opensuse Leap 15 (or Opensuse Tumbleweed) is not properly recognized as a openSUSE distro"
Running screenfetch, using opensuse leap 15, I get the generic tux image, and the OS is identified as:
"opensuse-leap"

(Tumbleweed is identified as "opensuse-tumbleweed", again with the generic tux image)

[2018-06-16 21:32] jorgesumle opened #568 "Add Uruk distro"
See [project page](https://urukproject.org/dist/)

CC: @hayderctee (Uruk developer)

[2018-06-17 13:50] lamby commented on #553
FYI this is being tracked within PureOS itself here: https://tracker.pureos.net/T464

[2018-06-18 14:48] murlakatamenka commented on #556
In my case `screenfetch` shows GPU's temperature for my CPU.
I have 3 `hwmon`'s under `/sys/class/hwmon/`.
`screenfetch` shows `/sys/class/hwmon/hwmon0/temp1_input` which is GPU's temp.
`/sys/class/hwmon/hwmon1/temp1_input` is my CPU's temp.

[2018-06-18 14:50] murlakatamenka commented on #556
In my case `screenfetch` shows GPU's temperature for my CPU.
I have 3 `hwmon`'s under `/sys/class/hwmon/`.
`screenfetch` shows `/sys/class/hwmon/hwmon0/temp1_input` which is GPU's temp. `/sys/class/hwmon/hwmon1/temp1_input` is my CPU's temp.

[2018-06-18 15:50] darealshinji commented on #556
Maybe I should disable showing the temperature for not being reliable enough?

[2018-06-18 16:52] murlakatamenka commented on #556
@darealshinji my initial idea was to find an argument to disable temperature display. I didn't find it, so I'd suggest implementing it instead.

[2018-06-19 03:54] wavengine opened #571 "no GPU device detect error"
On my VMware and VPS, don't have any GPU.
But output GPU messy code.
[code]

I think If no GPU, please don't show it.

[2018-06-25 13:36] AndrewStein opened #573 "readlink -f on BSD-like systems"
On macos, I get the error
[code]
before the information printed by `screenfetch`....

[code]

[2018-06-25 13:39] AndrewStein commented on #573
More info:
[code]

[2018-06-25 13:50] AndrewStein commented on #573
See also https://stackoverflow.com/questions/1055671/how-can-i-get-the-behavior-of-gnus-readlink-f-on-a-mac

[2018-06-25 14:01] AndrewStein commented on #573
[code]

[2018-06-25 16:44] zlhysong-lkw commented on #563
Can confirm this happens on Kali Linux for WSL.
![image](https://user-images.githubusercontent.com/40303544/41863682-8cf10252-7875-11e8-9b80-80998dd454f4.png)

[2018-06-28 17:43] Sleedyak opened #574 "Two monitors show one resolution"
So, I have two monitors, and when ever I do screenfetch it shows my two monitors as one. I don't know if this is a bug or just something that hasn't been worked on, but for instance neofetch does show two monitors when you have two monitors.

[2018-06-30 16:19] cobbleking opened #575 "1GB of RAM detected as 1TB on FreeBSD"
![1tb ram](https://user-images.githubusercontent.com/40720641/42127039-5bf6a4be-7c57-11e8-9e9e-6c5baa98a0a7.png)

[2018-07-02 02:49] KuteKetX opened #576 "bash: /usr/local/bin/screenfetch-dev: Permission denied"
[code]
i cant seem to install screenfetch for chromeOS, i dont know if im even doing it right, anyone help me?

[2018-07-02 02:52] KuteKetX commented on #576
nvm just found the proper executable file, closing now.

[2018-07-02 02:52] #576 closed

[2018-07-03 07:23] Dobbie03 opened #577 "Support for ArchLabs"
Can you please add support for ArchLabs

www.archlabslinux.com

[2018-07-13 05:29] Colopatiron commented on #563
Same here.

![2018-07-13 7](https://user-images.githubusercontent.com/1519903/42674031-bfa2889a-86a0-11e8-8798-e06a81cd2bec.png)

[2018-07-16 09:50] cedarice commented on #393
This may be caused by you installed anaconda, which contains another gsettings command. You can check it by running "which gsettings" to check this command in the anaconda directory or in the /usr/bin directory. Hence, I modified the screenfetch script by replace gsettings with /usr/bin/gsettings, and then I get the right information. The screenfetch is in /usr/bin directory.

[2018-07-16 18:28] darealshinji commented on #563
This should be fixed on the latest version from this repository:

![screen-2018-07-16_20-23-07](https://user-images.githubusercontent.com/5700937/42776154-804ebe14-8936-11e8-9baf-d2231044c8d9.png)

The screenFetch versions you're using seem to be outdated.

[2018-07-20 02:14] aion82 commented on #577
Can I use this For Android?

[2018-07-24 12:53] #571 closed

[2018-07-29 22:51] clragon opened #584 "cannot open file /proc/fb on Ubuntu 18 on Windows 10"
Hello there,

```awk: fatal: cannot open file `/proc/fb' for reading (No such file or directory)```

![screenshot_1](https://user-images.githubusercontent.com/11785085/43371442-91990420-9392-11e8-8dbe-63c69e7830c6.png)

This good ol' issue is back at it again with the newest Bash on Ubuntu (18, bionic) on Windows 10

Can this be fixed?

thanks in advance.

[2018-07-30 10:59] darealshinji commented on #584
Have you tried the latest script version from Github?
https://raw.githubusercontent.com/KittyKatt/screenFetch/master/screenfetch-dev

[2018-08-03 19:33] ryanrms commented on #545
Any updates on this?  Just installed Linux again so was reminded of this issue.   This time I'm using Budgie on Manjaro, and the WM Theme is reported as Adwaita.  The GTK theme which is the theme that the window decorations use is correctly identified as Adapta-Maia.  Might be worth looking into omitting WM Theme on GNOME3 based desktops, especially Budgie, or have it equal to the GTK Theme, since

[2018-08-07 12:07] phifa commented on #563
Same error over here. Just installed via `sudo apt install screenfetch`

![grafik](https://user-images.githubusercontent.com/3061129/43774908-0dec3240-9a4b-11e8-8476-d653084c7fec.png)

[2018-08-07 19:27] darealshinji commented on #563
@phifa Again folks, please download the latest script revision from **Github**. The version installed with apt is outdated.

[2018-08-07 19:27] #563 closed

[2018-08-08 07:01] phifa commented on #563
@darealshinji ok sounds great, how would I go about installing it? I download the dev master from Github?

[2018-08-10 20:51] #369 closed

[2018-08-14 12:31] wavengine opened #586 "Support for CoreOS"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]

**New distro request**
[code]

[2018-08-14 13:44] darealshinji commented on #586
@cdancy posted that the CoreOS project was "dead": https://github.com/KittyKatt/screenFetch/issues/249#issuecomment-372288983
Is CoreOS still available as a distro?

Also you didn't show the output of the following commands:
[code]
That's needed for the distro detection. However in https://github.com/KittyKatt/screenFetch/issues/249 that user posted the content of /etc/os-release and /etc/lsb-rele

[2018-08-15 08:35] wavengine commented on #586
Sorry, I just know it.

[2018-08-15 08:35] #586 closed

[2018-08-19 10:31] abdalrohman commented on #563
Downlode the latest version from here **`wget -O screenfetch-dev https://git.io/vaHfR`**
Then **`sudo rm /usr/bin/screenfetch`**
After that go to the folder where downlode **_screenfetch-dev_** and rename the **_screenfetch-dev_** to **_screenfetch_**
**`chmod +x screenfetch`**
Now move the screenfetch to the **`sudo mv screenfetch /usr/bin`**

[2018-08-19 13:01] khalil2535 commented on #566
I got this
![image](https://user-images.githubusercontent.com/26520106/44309051-0906e180-a3c9-11e8-9cc4-50dc74bbe953.png)

[2018-08-19 13:06] halars commented on #566
For me it is still the same. But strangely your OS is "openSUSE 15.0", while mine is "opensuse-leap".

[2018-08-19 13:12] khalil2535 commented on #566
I am new for everything , am i using another fork ?
![image](https://user-images.githubusercontent.com/26520106/44309123-82eb9a80-a3ca-11e8-8adf-e0f838bbe837.png)

[2018-08-29 15:06] ipat8 commented on #557
[code]

[2018-08-29 15:06] ipat8 commented on #557
I went ahead and did the art for you @KittyKatt

[2018-09-03 22:44] AngryPenguinPL opened #587 "Add support for OpenMandriva"
Hi. Can you add Linux OpenMandriva to screenFetch?

**New distro request**
[code]

[2018-09-11 22:54] aevernum opened #588 "New distro request: Refracta"
**I'm submitting a

**New distro request**

Distro name:  **Refracta**
Homepage: [Homepage](https://www.ibiblio.org/refracta/)
Distro logo: [Logo](https://image.ibb.co/cV4pup/refracta_logo2.png)
Package manager: **apt**

**[Block with logo and color | Gist link](https://gist.github.com/aevernum/fb184d606b3bdb5f636c45bc1cf1b0e2#file-refracta-logo-for-screenfetch)**

Output of:
**=> lsb_release -sir

[2018-10-06 07:41] ecovaci commented on #545
screenFetch take the value of WM Theme from org.gnome.desktop.wm.preferences.theme, a deprecated key. You can safely ignore this, or use dconf-editor to change the key's value.

[2018-10-11 08:56] wallaor commented on #575
In the original screenfetch-dev, delete before "fi"
     usedmem=$((usedmem / 1024))
     totalmem=$((totalmem / 1024))
and add AFTER "fi"
     usedmem=$((usedmem/1024))
     totalmem=$((totalmem/1024))

[2018-10-11 14:16] darealshinji commented on #575
@wallaor Doesn't adding things after "fi" change the behavior on other OSes?

[2018-11-01 23:31] coughll opened #594 "Bug with font display/detection on macos"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]
screenfetch -v output: https://imgur.com/rCQ970x

[2018-11-01 23:32] coughll commented on #594
Actually I'm going to do a pr fixing this soon

[2018-11-02 12:44] darealshinji commented on #594
https://github.com/KittyKatt/screenFetch/pull/595 merged, so I close this.

[2018-11-02 12:44] #594 closed

[2018-11-02 19:36] myfreeweb commented on #575
At least in the 3.8.0 version that's in ports, replace

[code]

and

[code]

under

[code]

with

[code]

and

[code]

I think the `^` operator in bash might just be bitwise XOR, not exponentiation :D

[2018-11-04 15:54] myared commented on #549
I'm using screenfetch version 3.8.0 and experiencing the same issue. My system seems to be the same as the original item in this thread with the following exceptions:

[code]

[2018-11-10 18:11] coughll opened #597 "Tag a new release?"
I'm back!

I'd appreciate it if you tagged a new release (either 3.8.1 or 3.9 or whatever you want) so homebrew and other git based package managers to download the later version. I ran into this problem after I reinstalled screenfetch after my bugfix last week was merged, and found that homebrew downloads the archived releases and not the up-to-date .git files. If/when you tag a new release, I'll

[2018-11-11 08:35] darealshinji commented on #597
@KittyKatt ? Should a new release be tagged? Anything important that needs to be done before?

[2018-11-12 06:16] shalk commented on #451
I meet the problem , after read latest source code, I thought the bug have fixed in dev version.

[code]
shoud choose  keyword `coretemp`

[2018-11-26 21:30] n3rd4i opened #599 "WLinux screenfetch ~~hangs when executed~~ shows wrong output"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
=> download the latest revision from Github and check if the bug is still present
   -> https://github.com/KittyKatt/screenFetch/raw/master/screenfetch-dev
   --- **OUTPUT AFTER UPDATE**
[code]
=> Show us the output of: screenfetch -v
   --- **OUTPUT BEFORE UPDATE**
[code]

**New distro request**
Distro name: WLinux
Distro versi

[2018-11-27 15:45] darealshinji commented on #599
I guess the logo is the yellow Tux shown in the store?
https://www.microsoft.com/store/apps/9NV1GV1PXZ6P?ocid=badge

[2018-11-27 20:36] n3rd4i commented on #599
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
=> download the latest revision from Github and check if the bug is still present
   -> https://github.com/KittyKatt/screenFetch/raw/master/screenfetch-dev
   --- **OUTPUT AFTER UPDATE**
[code]
=> Show us the output of: screenfetch -v
   --- **OUTPUT BEFORE UPDATE**
[code]

**New distro request**
Distro name: WLinux
Distro versi

[2018-11-27 20:39] n3rd4i commented on #599
The above output appears after upgrading the WLinux version from:
- 1.1.22.0 ➡ **1.1.25.0**

[2018-11-30 19:44] haximilian commented on #249
@cdancy @darealshinji Container Linux ("CoreOS" is the company, "Container Linux" is the Operating System) is, in fact, not dead (see [this](https://news.ycombinator.com/item?id=16292386) post) but rather the company which produced it has simply been acquired by RedHat. I would like to request that this issue be reopened, as I would like very much to have screenFetch functionality on my Container

[2018-11-30 19:48] cdancy commented on #249
@haximilian that's true but technically out of date. RedHat has been acquired by IBM recently and so I have to imagine _may_ have various brandings re-done.

[2018-11-30 19:50] haximilian commented on #586
@Vndroid Good News! Container Linux (that's the official name for the operating system you call "CoreOS") is not actually dead. For more information, please refer to my comment under #249. I recommend that we continue discussion of this feature request under #249 for now, so as to avoid creating a duplicate issue.

[2018-11-30 19:52] haximilian commented on #249
@cdancy Thank you for your correction. Nonetheless, I feel it to be a bit premature to declare Container Linux dead.

[2018-11-30 20:11] cdancy commented on #249
Not dead just absorbed by redhat and most likely under a new moniker

[2018-12-07 20:44] Bx16 commented on #438
Hi, still don't work for Sailfish :(
` nemo@Sailfish  ~  ./screenfetch-dev                          ✔  28  21:42:10
       ╲ ▁▂▂▂▁ ╱
       ▄███████▄
      ▄██ ███ ██▄
     ▄███████████▄       OS: Android 7.1.2
  ▄█ ▄▄▄▄▄▄▄▄▄▄▄▄▄ █▄    Device: Redmi 5 Plus (vince)
  ██ █████████████ ██    ROM: vince-userdebug 7.1.2 NJH47F 9c646b9bbd test-keys
  ██ █████████████ ██    Baseband: msm
  ██ ██████

[2018-12-08 22:14] ozitraveller commented on #516
I decided ot reopen this request, as I've now grown in size, and have been reviewed a couple of time on distrowatch.

https://sourceforge.net/projects/linnix/

Star is a Devuan derivative, previously based on Debian

cat /etc/os-release
PRETTY_NAME="Star 2.0.1"
NAME="Star"
VERSION_ID="2.0.1"
VERSION="2.0.1"
ID=star
ANSI_COLOR="1;34"

[2018-12-15 19:48] Fubuchi commented on #566
@halars

Open the file _screenfetch-dev_ and your favourite editor. Go to line 897 and add this :

    verboseOut "Distro name : ${distro}"

Run screenfetch with verobse `-v` flag to see what is your distro name (in my case it is `Opensuse-leap`). Remove the verboseOut you just added (or not if you want 😄 ).

Now, add this line to the "Hotfixes" segment at line 898 and everything will be good.

[2019-01-07 23:20] KittyKatt commented on #597
@darealshinji I think tagging a new major release sounds like a good idea. Nothing to really do beforehand besides edit the version string in screenfetch-dev and any other relevant files.

[2019-01-07 23:52] darealshinji commented on #597
Sure, go ahead and tag a new release.

[2019-01-10 14:51] Akito13 commented on #563
This solved it for me on Ubuntu 18.04 on Windows, thank you.

[2019-01-10 16:14] DavidBerdik commented on #563
@abdalrohman Thanks! That seems to have solved it!

[2019-01-20 01:53] MattSturgeon commented on #437
This was fixed by #532 however still affects the latest release version.

For now you can use the [dev script](https://raw.githubusercontent.com/KittyKatt/screenFetch/master/screenfetch-dev) here on github and ask @darealshinji nicely to make an new release ;)

[2019-01-20 11:02] darealshinji commented on #437
Closing, since it's fixed.

[2019-01-20 11:02] #437 closed

[2019-01-24 16:18] atlas-king commented on #393
@cedarice this worked perfectly. I used nano to replace all gsettings occurances in the screenfetch file with /usr/bin/gsettings and it worked like a charm :)

[2019-01-31 06:53] ningblue commented on #573
Excuse me, has this problem been fixed?

[2019-02-04 04:55] shuxq opened #604 "screenfetch complains that gconftool-2 is not found"
**I'm submitting a ...**  (check one with "x")
[code]
=> search Github for a similar issue or PR before submitting
=> download the latest revision from Github and check if the bug is still present
   -> https://github.com/KittyKatt/screenFetch/raw/master/screenfetch-dev
=> Show us the output of: screenfetch -v
:: Finding distro...found as 'Ubuntu 16.04'
:: Finding hostname and user...found as 'shu

[2019-02-04 12:22] muttmutt commented on #573
You can fix it on your own for now by replacing "readlink" with "stat" in the script.

`elif readlink -f "$SHELL" | grep -q "busybox"; then`
becomes
`elif stat -f "$SHELL" | grep -q "busybox"; then`

[2019-02-04 13:31] muttmutt commented on #573
@darealshinji It's actually already in process.  See #602 for details.

[2019-02-04 13:34] muttmutt commented on #573
I suspect we'll see a 3.8.1 version with this (and other) fixes.

[2019-02-06 14:22] artmak commented on #563
This fix it for me on Ubuntu 18.04 on Windows, thank you.

[2019-02-19 22:23] DRSDavidSoft opened #606 "New line causes ascii logo to mess up"
**I'm submitting a**
[code]

**Version**
[code]

----

Please notice that **window manager theme** is a multi-line string:
[code]

this causes the ascii logo to get messed up:
<img width="600" alt="scrf-w10" src="https://user-images.githubusercontent.com/4673812/53051237-93331e00-34b0-11e9-9429-d588ec2aa572.png">

(in addition to that, notice how `) 64-bit` is wrapped up incorrectly)

here's how i

[2019-03-07 04:24] jdhao commented on #584
Using the latest screenfetch-dev resolves this issue.

[2019-03-07 15:36] #584 closed

[2019-03-10 20:34] fedorovenskiy opened #608 "screenfetch detects DE: xfce when there is only awesome wm"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]

**New distro request**
[code]

[2019-03-19 20:12] pa-jberanek commented on #566
For me, with openSUSE 15.0 on WSL, installing 'lsb-release' fixed the distro determination without the hot fix above, and lead to:

OS: openSUSE 15.0(on the Windows Subsystem for Linux)

[2019-03-19 20:22] jberanek commented on #566
Created a PR with a hotfix, for when you don't have lsb-release installed:
https://github.com/KittyKatt/screenFetch/pull/609

[2019-03-20 06:41] #566 closed

[2019-03-24 10:26] akshatcx opened #610 "No information when using -c flag"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]

**New distro request**
[code]

Information not displayed when using the -c flag (not giving the argument which controls the colours of the information found).
Basically absence of a default colour if no argument provided.
![Screenshot from 2019-03-24 15-51-00](https://user-images.githubusercontent.com/42722188/54878062-1

[2019-04-06 05:25] digitalfiz commented on #563
Why not update the apt package?

[2019-04-29 00:19] briancrink opened #613 "line 2231: warning: command substitution: ignored null byte in input"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]
:: Finding distro...found as 'Mac OS X '
:: Finding hostname and user...found as 'briancrink@MacBook-Pro'
:: Finding kernel version...found as 'x86_64 Darwin 18.6.0'
:: Finding current uptime...found as '2d 1h 2m'
:: Finding current package count...found as '208'
:: Finding current shell...found as 'bash 5.0.7'
:: Finding

[2019-04-29 09:40] darealshinji commented on #613
Line 2231 doesn't look any special. Have you tried the latest snapshot from Github?

[2019-04-29 17:16] briancrink commented on #613
`screenfetch --version` -> 3.8.0 I'm not sure where the bug came from but at some point after reinstalling coreutils from homebrew, resetting $PATH, and creating a new Terminal Profile, the `line 2231 command substitution warning` is gone.

My bash_profile:
[code]

[2019-04-29 17:16] #613 closed

[2019-05-07 05:12] ivan-avalos opened #615 "Wrong system information in macOS"
[code]
### Bug report

**How it should be:**
[code]

**Current situation:**
[code]

### Output
[code]

[2019-05-08 08:47] darealshinji commented on #615
I guess `Mac OS X` should be changed to `macOS` anyway. XNU as kernel name makes sense. But there is no "platform" line in screenFetches output.
What exactly does `uname -o` and `uname -s` print?

[2019-05-08 17:29] ivan-avalos commented on #615
Yeah, there's no platform line, but you can't put macOS as the operating system because the actual operating system is called Darwin. It doesn't make sense to consider macOS as an operating system, even though Apple wants people to call it that way.

[code]

[2019-05-13 14:30] darealshinji commented on #615
For me it says OS is Ubuntu which is not the actual OS name either, `GNU/Linux` would be correct. On the other side, saying that my OS name is Ubuntu isn't completely wrong. I don't know if I really want to change that. You could of course separate it into OS and distro. In my case I would get `Distro: Ubuntu`, `OS: GNU/Linux` and `Kernel: Linux`, for you it would be `Distro: macOS`, `OS: Darwin`

[2019-05-13 18:35] ivan-avalos commented on #615
Well, that would be a great idea, separating both different things.

[2019-05-19 01:14] KUPOinyourWINDOW opened #618 "My Tux's Arm is Broken!"
The command I use in bashrc is "screenfetch -A 'Penguin'set +o history"
The arm on our right (where the mouse is in the screenshot) isn't two hashtags big like the one on our left. Any chance of a fix?

![Screenshot_2019-05-19_02-12-06](https://user-images.githubusercontent.com/7698035/57976583-92d8ef00-79db-11e9-864c-05aa37d48a78.png)

[2019-05-19 02:10] darealshinji commented on #618
The right side is supposed to be thicker because of Tux's pose:

![220px-Tux](https://user-images.githubusercontent.com/5700937/57976902-ebb08380-79eb-11e9-838e-307ddbee9209.png)

I'm closing this issue, okay?

[2019-05-19 02:10] #618 closed

[2019-05-19 02:49] KUPOinyourWINDOW commented on #618
Oh my bad! I didn't realise, sorry for the hassle

[2019-05-26 07:33] jarnokie commented on #610
I'm pretty sure that your terminal background color and the default font color are the same. Looking at your screenshot I think you can faintly see the letters.

[2019-06-17 22:20] edrozenberg opened #619 "Some ARM lines don't fit in 80 chararacter width"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]
[code]

The following two lines don't fit in 80 chars of width:

[code]
[code]

**New distro request**
[code]

[2019-06-18 07:41] darealshinji commented on #619
Have you tried `screenfetch -w` or `screenfetch -t`?

[2019-06-20 09:36] dpinela opened #620 "Font name truncated on macOS"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**

I'm using Terminal.app with the font set to Fantastique Sans Mono Regular, but `screenfetch` displays it only as "egular". `screenfetch -v` shows the following:

[code]

[2019-06-20 11:50] Michal-Szczepaniak commented on #438
@darealshinji that doesn't work because lsb_release doesn't exist on sfos so therefore it never goes to Mer/SailfishOS if. we need standalone if to detect sfos

[2019-06-20 20:18] Michal-Szczepaniak commented on #438
btw i fixed it in #621 PR

[2019-06-21 14:39] darealshinji commented on #438
Merged it.

[2019-06-21 14:39] #438 closed

[2019-06-22 16:13] edrozenberg commented on #619
Thanks! `-t` is looking great.

[2019-06-22 16:14] #619 closed

[2019-06-24 12:22] guiverc opened #622 "Lubuntu 18.10, 19.04 & 19.10 report LXDE not LXQt (on most boxes)"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]
// does not apply

Show us the output of
 => lsb_release -sirc
 => cat /etc/os-release
 => ls -1 /etc/*-release
[code]

[2019-06-28 14:16] TsarFox commented on #597
Any updates on this? GuixSD is interested in a version we can track, but 3.8.0 doesn't detect us.

[2019-06-29 10:49] darealshinji commented on #597
@KittyKatt ?

[2019-06-29 22:07] ivan-avalos commented on #615
Now I think this is irrelevant.

[2019-06-29 22:07] #615 closed

[2019-07-17 07:31] arklee opened #627 "awk: cmd. line:7: warning: regexp escape sequence `\"' is not a known regexp operator"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]

[2019-07-17 14:21] darealshinji commented on #627
I don't have such an issue:
[code]

I don't know why it says line 7 because that's just a comment line. You can try to find out where exactly inside the script awk is creating this warning by running `bash -x ./screenfetch-dev >log.txt 2>&1` and taking a look at the log file.

[2019-07-18 06:37] arklee commented on #627
It's a problem of gawk,I downgrade gawk from 5.0.1 to 4.2.1 then this report of "awk : cmd..." disappeared.

[2019-07-21 17:07] aljagne commented on #563
thanks

[2019-07-28 21:49] soullivaneuh opened #628 "Bold is removed when using custom colors"
**I'm submitting a ...**  (check one with "x")
[code]

If I try to change default colors with `-c` option, bold is removed from labels:

![Screenshot_2019-07-28_23-47-32](https://user-images.githubusercontent.com/1698357/62013393-3e4bb000-b192-11e9-8537-e130c4c04940.png)

I didn't find any option to keep bold in place, so I assume it's a bug.

Regards

[2019-08-07 17:21] jrunreal commented on #474
Same problem on Linux Mint 19.1 Cinnamon:
`»/apps/metacity/general/theme« wurde kein Wert zugewiesen (german)`

[2019-08-09 23:44] jhelfman commented on #535
I maintain the port for screenfetch for FreeBSD. It does not need procfs, unless this is being supplied another way, or perhaps there is something that isn't being reported by not using it. I can confirm that fdescfs is mounted for me, but don't know what would happen if it wasn't mounted and I ran the script.

It works with bash without issue.

[2019-08-09 23:46] jhelfman commented on #575
I updated the port today. I was following releases, and not every commit. I see that last release was awhile ago, so I decided to follow master. As of today, I updated to latest commit.

[2019-08-10 11:00] darealshinji commented on #575
@jhelfman Here's a discussion about a new release: https://github.com/KittyKatt/screenFetch/issues/597
So far @KittyKatt didn't push a new release and I don't want to do that unless he tells me what version string I should use for it.

[2019-08-12 23:34] jhelfman commented on #575
It is up to you how you want to control your installation of the software. I'm following either a release tag and/or commit hash depending on which is more recent and applicable.

[2019-08-17 18:16] twaik opened #630 "Broken layout on Android (Termux)."
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]
Distro name: Termux 0.68
Homepage: https://termux.com/
Distro logo: https://lh3.googleusercontent.com/q76Y6NnhGN912N6ttTqqkhhjIP4vSttAdaIXM4DypduRzBvS1NzoxTgxDZRcMkINtJU=s180-rw
Package manager: apt

Show us the output of
 => lsb_release -sirc
Nor Termux nor Android have no lsb_release command.
 => cat /etc/os-release
Nor

[2019-08-17 23:02] twaik commented on #630
Is there a way to fix it? Or just remove lines if they are the same as lines were printed?

[2019-08-20 20:07] jhelfman commented on #535
@OXEDAN1337 I'm not sure of what version of FreeBSD you are running now, however as of today version 9.3 is no longer supported. https://www.freebsd.org/security/security.html#sup

[2019-08-22 11:51] darealshinji commented on #535
Closing it because user didn't answer after 2 years, FreeBSD 9.3 is outdated now and the script needs to be run with bash not sh or python.

[2019-08-22 11:51] #535 closed

[2019-08-22 22:36] #467 closed

[2019-08-30 13:58] BiagioFesta commented on #627
The issue in the script seems to be located here: [screenfetch-dev:1924](https://github.com/KittyKatt/screenFetch/blob/master/screenfetch-dev#L1924).

In particular,
[code]

`gawk 5.0.1` does not recognize the expression `\"` as regex operator.

[2019-08-30 16:01] Jorge9811 opened #632 "Slightly broken layout on Windows 8.1 Pro"
As you can see right below, the WM Theme field seems to be a tad broken on Windows Embedded 8.1 Industry Pro x64. I am using a custom theme, if it matters.
![mintty-2019-08-29_12-58-30](https://user-images.githubusercontent.com/54429803/64035088-c4964180-cb04-11e9-9b10-cb3d0b9b10e5.png)

[2019-09-03 13:34] darealshinji commented on #627
Hopefully fixed now.

[2019-09-03 16:24] jhelfman commented on #278
When running this with verbose output:

[code]

[2019-09-04 23:48] jhelfman commented on #314
yes. validated and more information I found in bug #278  This can probably be closed after your comment is merged with this bug.

[2019-09-06 16:17] jhelfman commented on #278
I would suggest the bug tag here based on notes in #314

[2019-09-06 19:15] darealshinji commented on #278
@jhelfman Good point. Changed it.

[2019-09-12 04:53] Alessandro-Barbieri commented on #597
I need this on gentoo, important changes made since last version

[2019-09-13 08:57] Brutus11111 opened #635 "Ubuntu 19.10"
**I'm submitting a ...**  (check one with "x")
[code]
**New distro request**
[code]

Hey man,
Can you add the lines below? &tell me when you've added it so I can verify it for you. I already tested it locally and it works fine.

[code]

Pics or it didn't happen:

https://i.imgur.com/l2k9laQ.png

[2019-09-13 13:42] darealshinji commented on #635
Fixed in https://github.com/KittyKatt/screenFetch/commit/34c35f6346ecf156f6a63907299ee2dddbda841b

[2019-09-13 13:42] #635 closed

[2019-09-19 19:06] mureithimaina commented on #627
not yet in arch linux

[2019-09-20 13:07] koostosh commented on #628
Guess you were looking for -c "4;1,7;22".
![Screenshot from 2019-09-20 15-04-48](https://user-images.githubusercontent.com/9148800/65329002-e476cd80-dbb7-11e9-8d22-644b5d1b7a96.png)
I would rather call this missing feature not a bug. Some built-in colors have bold enabled, but there is no special flag to restore this behavior as method can strongly vary depending on terminal. However describing th

[2019-09-22 11:51] soullivaneuh commented on #628
@koostosh It indeed works with `-c "4;1,7;22", thanks!

I let the issue open. Feel free to close it if there is nothing left to do. :+1:

[2019-09-23 21:37] mb1986 commented on #627
You can use `screenfetch-git` package.

[2019-09-24 15:22] dglava opened #639 "GTK3 theme not detected properly (Openbox)"
**I'm submitting a ...**
[code]

**Bug report**
[code]

My GTK3 theme is also Zukitre.
I think the problem lies in the "Proper gtk3 theme detection" part https://github.com/KittyKatt/screenFetch/blob/83f641b2160eed1d91c95a7980c2351c57e0cc92/screenfetch-dev#L2802-L2806

When using Openbox standalone, the value in gsettings doesn't get set for the theme. The "Experimental gtk3 theme detection" works

[2019-09-29 01:59] GreenHatHG commented on #627
I installed `screenfetch-git` to solve the problem.
[code]
![20190929095809.png](https://i.loli.net/2019/09/29/zED4MB2V9jWqvOZ.png)
The new version does not show CPU temperature

[2019-09-30 22:03] Batcastle opened #640 "Add support for Drauger OS"
**I'm submitting a ...**
[ ] bug report
[x] new distro request

**New distro request**
[code]
Provided outputs are from the latest alpha, which will be based off Ubuntu 20.04 at stable launch. So UBUNTU_CODENAME should equal whatever that codename will be. Until then, the stable version is based off Ubuntu 18.04, has the codename Jiangshi, Version number 7.4.1

[2019-10-01 09:51] alex-mohemian opened #641 "3.8.1 Release"
Any info when 3.8.1 will be released?

There are quite a lot of fixes already in master since the last release: https://github.com/KittyKatt/screenFetch/compare/v3.8.0...master

[2019-10-01 20:40] darealshinji commented on #641
I don't know the versioning scheme behind this but I think the next version won't be 3.8.1 but something higher. As long as I don't know what version to tag a new release I won't do that. Unfortunately I @KittyKatt didn't respond for a while. See also https://github.com/KittyKatt/screenFetch/issues/597

[2019-10-02 08:29] alex-mohemian commented on #641
I did not want to be presumptuous but you are right of course that the amount of changes warrant a 3.9.0 release at least ;)

Closing as duplicate of https://github.com/KittyKatt/screenFetch/issues/597

[2019-10-02 08:29] #641 closed

[2019-10-02 09:10] otherguy commented on #597
There are a lot of changes since the last release: https://github.com/KittyKatt/screenFetch/compare/v3.8.0...master

I would also appreciate a new version and [looking at the release history](https://github.com/KittyKatt/screenFetch/releases), it does not seem like there is a super strict versioning scheme.

I think just tagging it as `3.9.0` would be fine.

If you want me to, I can take care of p

[2019-10-04 20:56] KittyKatt commented on #597
v3.9.0 has been tagged and released.

[2019-10-04 20:56] #597 closed

[2019-10-05 16:52] jhelfman commented on #597
I was planning on putting in a pull request for this, but the scriptversion still states 3.8.0, as well as the man page.

[2019-10-06 04:43] LawrenceLemon1999 opened #644 "/usr/bin/screenfetch: line 1347: [[Not Found: command not found"
![image](https://user-images.githubusercontent.com/43172955/66264384-f3f04a80-e836-11e9-95a6-01986764c426.png)
![image](https://user-images.githubusercontent.com/43172955/66264385-010d3980-e837-11e9-8bea-40e05d8ca046.png)

[2019-10-06 15:11] KittyKatt commented on #597
@jhelfman  Ah, thanks for catching that! I'll update it today.

[2019-10-06 16:19] KittyKatt commented on #644
Hey there, @LawrenceLemon1999 Could you do a `screenfetch -V` for me, please? I'm not sure what version you're running to see what line 1347 is. If you're not running v3.9.0, I would also suggest updating to that and seeing if the issue still persists. Thanks!

[2019-10-06 16:28] KittyKatt commented on #640
@darealshinji Here you go.

`                      &   &
                     %(   (#
                    (((   (((
                   ((((   ((((
                  ((((     ((((
                 ((((       ((((
                ((((         ((((
              %((((           ((((%
             ((((               ((((
            ((((                 ((((
           ((((                   ((((

[2019-10-06 16:30] KittyKatt commented on #640
@darealshinji Try using this.
[draugeros.txt](https://github.com/KittyKatt/screenFetch/files/3694635/draugeros.txt)

[2019-10-06 16:41] LawrenceLemon1999 commented on #644
if [["$gpu" = "intel"]]; then
this is the 1347 line of mine.
And I use sudo apt upgrade screenfetch but get only 3.8 version
<img width="579" alt="image" src="https://user-images.githubusercontent.com/43172955/66272342-2b90de00-e89b-11e9-9f58-6d95744ffb97.png">

[2019-10-06 16:49] KittyKatt commented on #632
Hey there @Jorge9811 would you mind sharing what you've changed? Line numbers would help.

[2019-10-06 16:51] KittyKatt commented on #630
The way to fix this is probably read that detectCPU has multiple lines and ignore anything following the first one while adding x2 / x3 / x4 / xN to the first line. I'll look into this a little further, though it might take me some time as the Android portion is very hacky.

[2019-10-06 18:41] KittyKatt commented on #644
Whoever is maintaining the package for Ubuntu hasn't packaged the newly released v3.9.0. If you would like a working screenfetch in the meantime, I recommend git cloning the current master branch and using that. I will try to find out who is maintaining the Ubuntu package.

[2019-10-06 19:34] KittyKatt commented on #627
@SingularBunny A little more than "Doesn't help." would help us. Is the gawk error fixed, but another error is present?

@GreenHatHG That's interesting, no idea why that's happening. Might have to open a new issue about that.

[2019-10-06 19:38] KittyKatt commented on #628
I was actually aware of this, but never properly documented the way to do it. The custom coloring has needed a rework and rewrite for a long time.

[2019-10-07 01:37] KittyKatt commented on #639
So, I've independently verified this in my Arch VM. Looks like `gsettings` does exist, but obviously has that key assigned to the default/fallback theme. Obviously lxappearance/gtk-chtheme or other is using the straight config file to set it, so gsettings keys aren't being changed at all.

I've taken the Experimental section and placed it before the Proper section, with an extra new check in prope

[2019-10-07 02:22] KittyKatt commented on #639
@dglava Could you try to reclone master? The above commit fixed it in my OpenBox Arch VM.

[2019-10-07 03:16] KittyKatt commented on #622
Please see the above and 44b7f3b @guiverc

[2019-10-07 06:00] LawrenceLemon1999 commented on #644
OK，thanks

[2019-10-07 11:19] dglava commented on #639
It works. The GTK3 theme is now properly detected when setting the GTK3 theme with LXappearance (without setting the dconf/gsettings key).

[2019-10-07 11:19] #639 closed

[2019-10-07 14:37] KittyKatt commented on #639
Perfect. Thanks for reporting!

[2019-10-07 14:58] KittyKatt opened #645 "Add EndeavorOS"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]

**New distro request**
[code]

See PR #634

[2019-10-07 15:01] KittyKatt commented on #314
I'll probably work on getting this working this week by removing pomf and getting the proper URL/API calls for teknik and imgur. Any other suggestions for popularly used image hosts will also be accepted.

[2019-10-07 15:04] KittyKatt commented on #474
Interesting, will have to spin up Mint Cinnamon and try this out.

[2019-10-07 15:13] KittyKatt commented on #610
Does the information currently provided by #637 by cloning current screenFetch help at all?

[2019-10-07 15:14] KittyKatt commented on #610
@jarnokie

[2019-10-09 21:28] KittyKatt commented on #608
@fedorovenskiy Could you post the output of the following commands?

`xprop -root`
`xprop -root _DT_SAVE_MODE`
`echo ${XDG_CURRENT_DESKTOP}`
`echo ${DESKTOP_SESSION}`

[2019-10-09 21:32] KittyKatt commented on #620
@dpinela Since this is one of the only machines I have zero access to, I might have to ask you to run a few things and be my guinea pig for me.

Could you post the output of the following?

`defaults read com.googlecode.iTerm2 "New Bookmarks" | grep -e 'Guid' -e 'Normal Font'`
`defaults read com.apple.Terminal "Window Settings" | grep -e 'name = ' -e 'Font = '`

[2019-10-09 21:36] KittyKatt commented on #606
@DRSDavidSoft Okay, first of all, that 64-bit wrapping issue is really odd. It might be best to start stripping some of the info we're reporting from the OS string to make it more manageable. Not the first case of that string getting really long.

Second of all, I notice that there's no theme at all in your second image. Is that the correct result from inside cygwin? Actually, is this Cygwin or WS

[2019-10-09 21:37] KittyKatt commented on #588
@Xyr0s1gn Hey there, I know this is late but that gist link looks dead. Was that an ASCII logo for this request? If so, do you think you could find it again? If not, I don't mind making one.

[2019-10-09 21:38] KittyKatt commented on #574
@Sleedyak Could you give me an example of the expected behavior? ie, from neofetch?

[2019-10-09 21:40] KittyKatt commented on #41
@actionless I don't even know if you still use screenfetch, but could you try using latest master again and report back it this issue still exists? Thank you for reporting.

[2019-10-09 21:42] KittyKatt commented on #539
@kq01526 Any updates on this?

[2019-10-09 23:58] dpinela commented on #620
[code]

[2019-10-10 12:04] DRSDavidSoft commented on #606
I actually would suggest breaking it into multiple lines, instead of stripping it!

<details><summary>Either of these will do fine: <b>(Click to show)</b></summary>
<pre>
David@DAVID-PC
OS: Microsoft Windows 10 Enterprise 64-bit
    (v10.0.17763)
Kernel: ....
</pre>

or

<pre>
David@DAVID-PC
OS: Microsoft Windows 10 Enterprise 64-bit
Version: 10.0.17763
Kernel: ....
</pre>
</details>

The second s

[2019-10-10 13:25] actionless commented on #41
i can install screenfetch any time to test, however i couldn't install kde4 so easily, unfortunately

also since kde4 is not actual anymore, i suggest closing this

unless someone else will be able to reproduce it under kde5

[2019-10-10 13:25] #41 closed

[2019-10-10 14:30] BlueGone opened #646 "Invalid disk usage on macOS Catalina"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
On macOS Catalina, the displayed disk usage (percentage and usage) is invalid:
[code]

It is due to the fact that Catalina features a new partition scheme, separating the core system (mounted on `/` as read-only), and the rest of the system (mounted as `/System/Volumes/Data`).
As an exemple, here is the output of `df -H`:
[code]

[2019-10-10 16:28] KittyKatt commented on #646
Interesting. I may have to use you as a guinea pig for this one @BlueGone as macOS is the only system I have no access to.

[2019-10-10 16:33] KittyKatt commented on #606
@DRSDavidSoft I'm referring to this, in screenfetch

![image](https://user-images.githubusercontent.com/227740/66588212-94a17b80-eb51-11e9-8a62-0ecc2b89d19f.png)

versus this in the powershell project

![image](https://user-images.githubusercontent.com/227740/66588180-83586f00-eb51-11e9-855f-10bf15320aab.png)

As you can see, there's no "WM Theme:" or a theme detection of any sort available in the

[2019-10-10 16:55] KittyKatt commented on #99
Closing because this has been out of beta FOREVER and the issue probably no longer exists.

[2019-10-10 16:55] #99 closed

[2019-10-10 17:03] jhelfman commented on #646
What needs to be double-checked? I have this on macOS, too. I am on 10.14.6 (18G103) Mojave.

[2019-10-10 17:07] jhelfman commented on #620
I get this....

```:: Finding user font...found as ''```

[2019-10-10 17:09] jhelfman commented on #620
[code]

[2019-10-10 17:13] BlueGone commented on #646
Maybe it is problem with all APFS systems. The output of `diskutil apfs list` give exploitable data:
[code]
I just don't really know if it is reliable to depends on this command. What if there is more than 1 APFS container ? What is the return code of the command if there is no APFS container ? If there is an apfs container, but that the system is not on it ? 🤷‍♂️

[2019-10-10 19:32] KittyKatt commented on #646
Oh, that could be very useful. But you bring up some valid concerns. I think to solve this issue we'll probably need to make some assumptions about APFS containers and the majority of use cases. Particularly this

`    Size (Capacity Ceiling):      511900434432 B (511.9 GB)
    Capacity In Use By Volumes:   102448488448 B (102.4 GB) (20.0% used)`

Is useful in the first few lines.

[2019-10-10 19:34] KittyKatt commented on #42
I'm going to mark this as WONTFIX at this point. Closing.

[2019-10-10 19:34] #42 closed

[2019-10-10 19:34] KittyKatt commented on #59
Closed from no response for 6 years.

[2019-10-10 19:34] #59 closed

[2019-10-10 19:35] KittyKatt commented on #61
Closing this due to being 4 years old with no response.

[2019-10-10 19:35] #61 closed

[2019-10-10 19:56] KittyKatt commented on #556
@darealshinji I think that disabling temperatures might be a good idea as they do seem unreliable.

[2019-10-10 19:56] KittyKatt commented on #75
Since this is really old and there's several fixes attached for it, I'm closing it.

[2019-10-10 19:56] #75 closed

[2019-10-10 20:06] #82 closed

[2019-10-10 20:06] #90 closed

[2019-10-10 20:07] #110 closed

[2019-10-10 20:10] KittyKatt commented on #125
Closing due to age and inactivity.

[2019-10-10 20:10] #125 closed

[2019-10-10 20:10] #127 closed

[2019-10-10 20:11] #137 closed

[2019-10-10 20:11] #150 closed

[2019-10-10 20:11] KittyKatt commented on #162
KDE4 no longer supported.

[2019-10-10 20:11] #162 closed

[2019-10-10 20:12] #168 closed

[2019-10-10 20:13] #175 closed

[2019-10-10 20:13] #180 closed

[2019-10-10 20:14] #238 closed

[2019-10-10 20:14] KittyKatt commented on #250
I never looked into it. Closing.

[2019-10-10 20:14] #250 closed

[2019-10-10 21:25] KittyKatt commented on #255
Documentation still needed.

[2019-10-10 21:28] KittyKatt commented on #258
Closed as I don't think this really falls under the scope of screenfetch.

[2019-10-10 21:28] #258 closed

[2019-10-10 21:30] KittyKatt commented on #285
Looks fixed? Not sure for the OP but it's 4 years old at this point, so gonna assume fixed.

[2019-10-10 21:30] #285 closed

[2019-10-10 21:30] KittyKatt commented on #306
Closing because vague request and 4 years old at this point.

[2019-10-10 21:30] #306 closed

[2019-10-10 21:32] KittyKatt commented on #335
Pretty old at this point. If anyone in this thread is still having this issue, please open a new ticket. Thank you.

[2019-10-10 21:32] #335 closed

[2019-10-10 21:35] cfraizer commented on #627
I think the real problem is on line 1603:
[code]
I removed the backslash `\` before ` *Chipset Model` and the warning disappeared on my machine.
- OS: 64bit Mac OS X 10.15 19A583
- GNU Awk 5.0.1, API: 2.0 (GNU MPFR 4.0.2, GNU MP 6.1.2)
- Shell: bash 5.0.11

I can submit a pull request if that's useful.

[2019-10-10 23:44] DRSDavidSoft commented on #606
@KittyKatt Oh, I see.

I believe any kind of information that `screnfetch` can extract from the OS and show on the screen is useful, including the WM theme!

In this case:
[code]

The `Windows Dark.theme` part I believe is referring to the Windows theme file that's currently being used, so I guess it'd worth it to show it to the user, especially if the user loads a custom theme file.

Thank you fo

[2019-10-11 14:25] ifonefox commented on #59
I'm sorry for not responding. I can confirm that it shows the correct window manager when using the latest commit (3248e59) on macOS 10.14.6.

[2019-10-11 22:37] Xyr0s1gn commented on #588
[here](https://gist.githubusercontent.com/Xyr0s1gn/d68f7e982d24b6055b46799883ffe6ab/raw/8bdd4170999671be91e74ad833e027f07d8e2825/refracta_logo.ascii)

[2019-10-12 10:52] Myralllka commented on #645
I will do it

[2019-10-12 11:02] sol4ik commented on #640
i'll implement it :)

[2019-10-12 17:52] cfraizer commented on #627
@SingularBunny or @arklee, can one of you try the new version on your system and confirm that the problem is resolved?

My change worked for me and seems likely (to me) to fix the problem generally, but I'm not able to check other platforms or versions of Bash or {Gawk,Awk}.

[2019-10-12 18:02] KittyKatt commented on #588
Perfect, thanks. I'll get on this.

[2019-10-16 02:33] Nikita11790 commented on #646
Im also on 10.5 (Mac book air 2015) and I can help + am experiencing this issue.
Not sure if it helps but
[Apple filesystem documentation](https://developer.apple.com/support/downloads/Apple-File-System-Reference.pdf)

[2019-10-25 11:31] guiverc commented on #622
I apologize for this, my belated response...  (my fault)

Dan Simmons of the Lubuntu team downloaded and ran this test for me

[code]

It looks great, so thank you !

[2019-10-25 17:28] wxl commented on #622
Now we just need it to be released… ☺

[2019-10-26 07:19] Myralllka commented on #645
you can close this Issue)

[2019-10-26 13:24] #645 closed

[2019-10-31 08:09] pgilad commented on #627
@cfraizer Just tried the above recipe, can confirm the above `awk` bug is fixed 💯
Thank you very much 🏆
![image](https://user-images.githubusercontent.com/4533329/67929616-63ebb980-fbc6-11e9-816e-1cdf267e43e9.png)

[2019-11-02 15:53] cartwright commented on #627
I had to remove a different slash. In the DE Detection block at line 980, the first IF statement, the gsub function. Deleting the backslash fixed the problem for me. log.txt of pre-fix and current, working script on my machine attached.

[log.txt](https://github.com/KittyKatt/screenFetch/files/3800656/log.txt)

[screenfetch.txt](https://github.com/KittyKatt/screenFetch/files/3800655/screenfetch.tx

[2019-11-02 19:13] KittyKatt commented on #622
Not a problem at all, I'll try to get a release out really soon.

[2019-11-07 15:08] memark commented on #563
When will the apt package be updated?

[2019-11-07 17:09] jhelfman commented on #563
File a bug report with vendor to update the package.
https://packages.debian.org/sid/utils/screenfetch

[2019-11-11 12:16] LothaireCliquennois opened #652 "Don't see the point of this when neofetch exists"
Well, everything's in the title honestly

[2019-11-11 15:44] KittyKatt commented on #652
Then don't use it.

Quite frankly, screenfetch came first. I do agree that neofetch has many things over screenfetch in terms of stability and overall writing but this is my project and if you really don't see a use for it, you're very much free to ignore its existence and never use it.

Closing this issue as WONTFIX and totally unnecessary.

[2019-11-11 15:44] #652 closed

[2019-11-11 22:31] rgerardi commented on #644
I am also seeing this issue even with 3.9 or DEV cloned from master. It seems that the issue triggers when using the `-d` option with multiple variables:

[code]

While it works with a single variable:
[code]

[2019-11-12 13:33] conrad10781 commented on #474
Same issue for a while now even on Arch. Same as original poster, I use gnome-flashback:

![Screenshot from 2019-11-12 08-33-28](https://user-images.githubusercontent.com/238705/68676033-1c9aec80-0527-11ea-98f1-772f509ae569.png)

[2019-11-12 22:03] KittyKatt commented on #622
Release pushed.

[2019-11-12 22:03] #622 closed

[2019-11-12 22:04] KittyKatt commented on #563
Release pushed, packages can be updated.

[2019-11-23 10:33] n3rd4i commented on #599
stalled, will close

[2019-11-23 10:33] #599 closed

[2019-11-23 14:06] Bu4ak commented on #627
Same issue. Fedora 31

[2019-11-25 12:48] dcermak commented on #627
This issue does not occur on openSUSE Tumbleweed with gawk 5.0.1 and screenfetch 3.9.1.

[2019-12-01 01:57] QuimXy opened #653 "Add support for Haiku OS"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]

**New distro request**
[code]

[2019-12-01 01:58] QuimXy opened #654 "Add ReactOS support"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]

**New distro request**
[code]

[2019-12-01 14:24] darealshinji commented on #654
Screenfetch already works on Windows through Msys2 and Cygwin. Unless of course ReactOS has a native Unix shell, which I doubt.

[2019-12-01 14:25] darealshinji commented on #653
Haiku is already supported.

[2019-12-01 14:25] #653 closed

[2019-12-02 12:21] X3MBoy commented on #627
Confirmed is still in Fedora 31 gawk and screenfetch versions are:

[code]

[2019-12-08 16:22] M0NsTeRRR opened #656 "Proxmox distro detection"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]
![screen](https://user-images.githubusercontent.com/37785089/70392330-48eb4100-19df-11ea-9911-c8a84f91b8bb.PNG)

[2019-12-08 16:24] M0NsTeRRR commented on #656
Fix #655

[2019-12-11 14:32] CyberSteve99 commented on #510
I wonder if a simple fix would be to change the line that reads

if [[ "${OSTYPE}" == "linux-gnu" || "${OSTYPE}" == "linux" || "${OSTYPE}" == "linux-musl" ]]; then

to

if [[ "${OSTYPE}" == "linux-gnu"* || "${OSTYPE}" == "linux" || "${OSTYPE}" == "linux-musl" ]]; then

I get the same issue on Raspberry Pi's and this seemed to work for me. My OSTYPE seems to be "linux-gnueabihf".

Steve

[2019-12-14 14:00] M0NsTeRRR commented on #656
thanks you @darealshinji

[2019-12-14 14:00] #656 closed

[2019-12-17 13:59] sulincix opened #659 "Bug"
![Screenshot_2019-12-17_13-59-23](https://user-images.githubusercontent.com/55052890/71001571-728a2380-20d5-11ea-9abb-5e233fe6f494.png)

term value bug

[2019-12-24 22:17] KittyKatt commented on #659
Can I get some clarification here what the actual issue is? @sulincix

[2020-01-12 19:29] dodona2 commented on #627
I confirmed it still is  in Fedora 31

[2020-01-13 03:25] jhelfman commented on #627
Are you using git or a package? Package is maintained upstream.

[2020-01-15 19:16] Roguyt opened #660 "Disk usage is doubled on WSL"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]

Hello,

There is a bug currently when running screenfetch on a brand new Windows box using WSL.
It's saying that my total disk size is around 2TB which is twice the real value.
I think the issue is around the command use by screenfetch to actually get this value

[code]

It appears that the / and the /c (which is a symli

[2020-01-16 16:55] #660 closed

[2020-01-27 17:52] X3MBoy commented on #627
I'm using it from repository. It looks like it is on the fedora main repository.

[2020-01-27 18:08] X3MBoy commented on #627
Well, I fix it by deleting the extra character in line 1591 on the script that is packaged in Fedora. I saw the line in the screenfetch-dev file and I just edited the script. I think this could be better managed, but it's a solution:

Change:
`gsub(/\"/,"",de)`

By:
`gsub(/"/,"",de)`

[2020-01-27 18:18] jhelfman commented on #627
You are correct in that it can be better managed. This is where packages come in with upstream vendor. I suggest reaching out to them...

[2020-01-27 19:29] X3MBoy commented on #627
I thing this could be closed as it is fixed in 3.9.1. Also, for Fedora I sent a PR to get the latest version

[2020-02-06 14:29] terminalforlife commented on #644
[code]

Invalid syntax. Space it out.

[2020-02-11 15:18] dinko-pehar opened #662 "Can't display GNU head icon"
**I'm submitting a ...**  (check one with "x")
[code]

**Question**

I'm not sure how can I display logo at https://github.com/KittyKatt/screenFetch/blob/master/screenfetch-dev#L5888 ,that is GNU Head ? I tried `screenfetch -A 'GNU'` but it only display Tux icon. Any help ? Thank you.

[2020-02-12 11:35] Albatrosicks opened #663 "brew list is too slow to count packages"
[code]

**Bug report**
counting packages using brew list:

[code]

counting packages in `/usr/local/Cellar/`
[code]

[2020-02-12 14:49] darealshinji commented on #663
Can you make a PR or provide the exact command to count packages in `/usr/local/Cellar/`?

[2020-02-24 05:54] liyiheng commented on #606
![image](https://user-images.githubusercontent.com/16461061/75131254-0fd48a00-570d-11ea-8684-068e6b62d180.png)

[2020-03-04 12:23] dpinela commented on #620
With the recent changes, it now displays my font as "FantasqueSansMonoRegul". Better, but not quite there yet.

[2020-03-09 21:19] KittyKatt commented on #662
Sorry for getting back to you so late about this, @dinko-pehar . For that logo, screenfetch is checking kernl/os-type not the defined ASCII logo string. I can probably put an extra || in there for that and get back to you.

[2020-03-10 08:12] dinko-pehar commented on #662
No problem @KittyKatt . I closed it because I thought it was something trivial to do, like some argument to pass. I'll watch more for implementation of this issue so I can modify source code of package which I installed via `pacman`.

Thank you for taking time to implement this :1st_place_medal:

[2020-03-20 22:16] Bu4ak commented on #627
Still occurs. Fedora 32

[2020-03-20 23:42] X3MBoy commented on #627
It's because they are shipping and outdated version. The newest version fix the problem

[2020-03-21 10:48] #627 closed

[2020-03-29 04:17] dralley commented on #627
I've filed a bugzilla for this in the Fedora tracker

https://bugzilla.redhat.com/show_bug.cgi?id=1818538

[2020-03-29 16:28] marek-lach commented on #577
Would also be interested in out-of-the-box Archlabs support in neofetch. Suggested logo variation that could look well in a terminal window (made by others):

![pngkey com-linux-png-2371982](https://user-images.githubusercontent.com/45913977/77854469-d949cd80-71ea-11ea-9bfb-da87f2c8d8ac.png)

[2020-04-01 05:22] yogmk opened #669 "screenfetch uses `lspci` but it requires root privileges on openSuse"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**

I guess the screencapture below has all the required information.

[code]

How can screenfetch accommodate a binary that needs to be run with sudo?

[2020-04-13 13:00] Kejuntrap opened #670 "Zero Divided Error (if Disk size is Zero)"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
output of `ScreenFetch -v` is below
[code]

If you have a zero-byte disk, you get a division by zero error.

0GB is NOT an error.  The size of Disk D,E,F,G,H,I and J is Zero.

[2020-04-13 14:32] darealshinji commented on #670
https://github.com/JulianChow94/Windows-screenFetch
I think this is the repository you should make your bug report.

[2020-04-13 14:32] #670 closed

[2020-05-10 02:45] GittyMejorado opened #671 "qt.svg problems with screenfetch"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]

**New distro request**
[code]
I have installed screenfetchen kubuntu 18.04, at the time of running screenfetch in a terminal the following appears:

qt.svg: link menu-shadow-hint-top hasn't been detected!
qt.svg: link menu-shadow-hint-left hasn't been detected!
qt.svg: link menu-shadow-hint-right hasn't been detected!
qt

[2020-05-12 11:35] ArnavD74 opened #672 "Wont run on PowerShell Core as Get-WmiObject has been depreciated"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]

PS version: v7.1.0-preview.2, found on [https://github.com/PowerShell/PowerShell/releases](https://github.com/PowerShell/PowerShell/releases)
output: [https://imgur.com/a/cwAhd85](https://imgur.com/a/cwAhd85)
source: [https://github.com/PowerShell/PowerShell/issues/4766](https://github.com/PowerShell/PowerShell/issues/47

[2020-05-12 11:49] darealshinji commented on #672
I think this is the project you're looking for, because this script here doesn't run in PowerShell or cmd.exe:
https://github.com/JulianChow94/Windows-screenFetch

[2020-05-12 12:21] #672 closed

[2020-05-12 12:21] ArnavD74 commented on #672
yep, got confused my bad

[2020-05-14 21:07] revpixel commented on #563
Had to do exactly this to pull  3.9.1 on Suse Leap for WSL 2.

[2020-05-19 13:41] A-Random-Lantern opened #675 "Packages isn't showing up, just shows unknown"
![image](https://user-images.githubusercontent.com/23159237/82333546-dda59200-99b4-11ea-995d-589a1a8cb674.png)

[2020-05-19 16:03] vi11ain commented on #563
apt is still outdated...

[2020-05-21 09:29] darealshinji commented on #675
It looks like you're using a distro called "Pop! OS" which the script doesn't recognize. Unfortunately it also didn't fall back to recognize it as an Ubuntu variant.

Can you please show us the output of:
 => lsb_release -sirc
 => cat /etc/os-release
 => ls -1 /etc/*-release

[2020-05-21 14:45] A-Random-Lantern commented on #675
Here ya go
[code]

[2020-05-25 20:35] #544 closed

[2020-06-09 18:39] x86txt opened #676 "Intel NUC7 - No GPU Detected"
The latest screenfetch-dev (3.9.1) doesn't display the GPU for my NUC7, but it is available via lspci as noted below.

[code]

**Bug report**
[code]
[code]

[2020-06-14 06:52] Jacksonzwang opened #677 "Can't display the correct info and art on Oracle Linux 7.8"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]
The bug looks like #675 but different distros.
[code]
Yes, I download the screenfetch from releases and the master, but it still (both of them are the same output)
[code]
It looks like this:
[code]
[code]
Here is "lsb_release -sirc",
[code]
the "cat /etc/os-release",
[code]
and the "ls -1 /etc/*-release".
[code]

[2020-07-02 09:42] KanzakiRanko1 opened #680 "macOS Big Sur Developer Preview not being detected as Mac OS X"
**I'm submitting a ...**  (check one with "x")
[code]

`screenfetch -v` and `screenfetch -D 'Mac OS X'` output:
[code]

[2020-07-25 16:47] Flova opened #684 "2 GPUs break the logo"
**I'm submitting a ...**
[code]

**Bug report**
The logo is broken when using my laptop with 2 GPUs. Resizing does not change the described behavior. Seems to be related to #104.

It happens under Arch with the newest version of screenFetch and produces the following output:

[code]

[2020-07-26 03:18] squirrelandhedgehog commented on #242
Being based on Red Star OS 2.0, it is probably KDE 3.0.
But, I have had trouble configuring panels in KDE3, so it has a chance
of being KDE4. (Plasma 5 did not exist yet.) BTW, I will probably never know as
Red Star OS 3 is not compatible with my computer, unlike Red Star 2.
I know Red Star OS 2 uses KDE3 because I've tested it and Kubuntu 8.04.
Tell me what you think.

[2020-07-26 03:21] squirrelandhedgehog commented on #242
Follow up: I wonder why Red Star 2 (2009) is supposed to copy Windows,
but its successor, Red Star 3 (2013) is like Mac OS X.
Maybe it's because 2 was made by Kim Jong-Il, however 3 was made by Kim Jong-Un.

[2020-07-27 13:59] unixb0y opened #685 "macOS Disk Size"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
My disk usage is around 190GB, but shows as 11G / 500G.

[code]

If I execute the lines of the scrip that should be executed manually, it works fine though:
[code]

[2020-08-11 13:42] arbitrary-dev opened #686 "Touchpad breaks and mouse does not move"
**I'm submitting a ...**
[code]

**Bug report**

Sometimes when I call `screenfetch` mouse (synatic touchpad) becomes unresponsive, only system reboot fixes it.

[code]

[2020-08-11 13:43] arbitrary-dev commented on #686
Using screenfetch-3.9.1

[2020-08-19 21:33] x86txt commented on #676
Hi, was this addressed? it seems to work fine under Ubuntu 20.04 now. The issue I had above was under Proxmox (Debian 10).

[2020-08-23 17:42] jwtiyar opened #687 "Screenfetch not adding to startup on bspwm/Archlinux"
Hey
I installed screenfetch on my archlinux system with bspws display manager, When i run it from termite it works well, But i cant add it to termite to be loaded automatically when termite opens.
I added screenfetch to .basrc also.

https://paste.ubuntu.com/p/K5289s5JjZ/

[2020-09-06 18:41] dan1410 opened #688 "Screenfetch reporting wrong total filesystem size when btrfs is used on the disk"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**

Screenfetch is reporting wrong total filesystem size when btrfs is used; my configuration is as follows:
[code]
In btrfs mountpoints are pointing to a single filesystem (see `/` and `/home` above), so in my case 928G total and 921G free space is counted twice.

Is the bug still present @ https://github.com/KittyKatt/screenFetch

[2020-09-20 11:59] 1900011604 opened #689 "How does screenfetch calculate RAM?"
[code]

This is the output of inputing `free -m` and `screenfetch` almost at once.

Is the used RAM calculated by screenfetch is **shared + buff/cache**?

[2020-09-24 04:19] vinhphu56 commented on #354
Hello,
I have a weird problem with this as well. I have a same Windows 7 setup on a VMWare and a physical PC, both are running Windows 7 32-bit. The difference is the physical PC is using the Microsoft Standard VGA. When I type the command the virtual machine, I get the resolution back but on the physical PC, I get nothing. Here is the command:
wmic desktopmonitor get screenheight, screenwidth
It

[2020-10-11 23:06] andremeireles commented on #574
Neofetch output is resolution1, resolution2. There is a comma between monitors.

In manjaro, screenfetch show only the secondary monitor.

[2020-11-06 19:06] necauqua opened #690 "Awesome WM shows theme based on parsing the config source code"
So awesomeWM config is lua-based and as far as I can tell it parses the source code of `rc.lua` file.

For me, for example, it shows the WM theme as `WM Theme: '..require 'modules.settings' .theme..'`,
because this is how I programmed my config, which is, IMO, pretty dumb.

If you remove the code that is matched by the script from `rc.lua` (by moving it to a function another file which is then cal

[2020-11-10 08:47] nguyenh13 opened #691 "Run screenfetch command automatically at terminal login"
**I'm submitting a ...**  (check one with "x")
[code]

**Question**
[code]

[2020-11-13 05:24] ridhwaans opened #692 "Screenfetch does not work as expected on macos Big Sur 11.0.1"
**I'm submitting a ...**  (check one with "x")
[code]
![image](https://user-images.githubusercontent.com/1103336/99031736-cef3fe00-2545-11eb-801e-200b66cb36dd.png)

On macos Big Sur version 11.0.1, see screenshot for errors
Previously on Catalina before upgrading, `screenfetch` used to print a multi colored apple logo ascii art,
print `64bit Mac OS X 10.15`, `x86_64 Darwin` along with correct info

[2020-11-13 08:53] marslo commented on #692
temp solution:
due to the output from `/usr/bin/sw_vers` was changed as:
[code]

So, the issue can be manual fixed by modify Line 1057:
[code]

By using `grep -i 'macOS'` instead of `grep -i 'Mac OS X'`

[2020-11-14 18:18] ridhwaans commented on #692
@marslo please make a PR

[2020-11-17 06:28] skielred commented on #691
There are various ways to achieve this. Simplest way is to add `screenfetch` to your local shell configuration file, ie `~/.bashrc` or `~/.zshrc` depending on what shell you use.

[2020-11-17 18:41] darealshinji commented on #691
Just like @skielred said, actually a pretty simple task.

[2020-11-17 18:41] #691 closed

[2020-11-22 13:14] TheHellSite opened #693 "Display local and public IP address"
Hello,

is it somehow possible to add custom lines to the config?
I would like to check my public and local IP at the startup of my shell.

lip="ip -f inet addr show ens18 | grep -Po 'inet \K[\d.]+'"
pip="curl ifconfig.me/ip"

IP: ${lip} (local) - ${pip} (public)

[2020-11-23 05:06] darealshinji commented on #693
You should be able to add your stuff to the "custom lines" part of the script:
https://github.com/KittyKatt/screenFetch/blob/master/screenfetch-dev#L198

[2020-11-23 10:23] TheHellSite commented on #693
But then I would have to recompile my own version of screenfetch, am I right?

[2020-11-23 13:09] darealshinji commented on #693
It's a script, there's nothing to compile.

[2020-11-24 04:20] donn commented on #692
There's a PR right here: https://github.com/KittyKatt/screenFetch/pull/681/commits/f7200af70c527ec01133eef501cab3dbae51688a

[2020-11-27 15:40] Wratheus opened #694 "Mac OS Big Sur trouble"
**I'm submitting a ...**  (check one with "x")
[code]
![Снимок экрана 2020-11-27 в 18 30 38](https://user-images.githubusercontent.com/71131015/100464894-75f89e00-30df-11eb-9cb3-0854efd842f4.png)
Getting bunch of errs, using last Big Sur ver, screenfetch ver is 3.9.1
Also, when i'm running screenfetch command from my bashprofile (zsh links to bash) i'm getting err
[code]
I guess all of this errs a

[2020-11-28 10:28] valjv commented on #694
Hey, solution here https://github.com/KittyKatt/screenFetch/issues/692#issuecomment-726631900

[2020-11-30 15:06] #694 closed

[2020-12-01 18:13] StefanLobbenmeier opened #695 ""Anonymous" Option"
**I'm submitting a ...**  (check one with "x")
[code]

When posting the output of screenfetch somewhere I want to avoid sharing my name. Is there an option to not provide the username and pc name in the output?

If not, it would be nice if this was added. Might be extended to remove other attributes (ids, ip address (#693)) as well in case they are added.

[2020-12-16 02:22] arian81 commented on #692
I still have that problem on a M1 Mac. I used the latest source code from Github.

[2020-12-17 13:20] qiujiangkun opened #696 "Screenfetch reporting wrong total filesystem size when complicated mountings are used"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
The filesystem size reported is 6.6T, three times as my actual disks. Probably because I have complicated mountings.
[code]

[2021-01-03 14:42] #680 closed

[2021-01-13 19:51] CodingSpiderFox opened #697 "Feature request: Show git email address when user.email is configured globally"
**I'm submitting a ...**  (check one with "x")
[code]

When setting up my work PC, I used my private setup scripts. They automatically set my git user.name and user.email with --global

After pushin commits to the private work organization I saw my private account showing up there which is not what I wanted.
I would have been able to identify that problem early if screenfetch would have displayed

[2021-01-14 08:27] paralin opened #698 "New distro request: SkiffOS"
**I'm submitting a ...**  (check one with "x")
[code]

**New distro request**
[code]

 => lsb_release -sirc

SkiffOS
2020.1
Buildroot

 => cat /etc/os-release

NAME=SkiffOS
VERSION=2020.11
ID=skiff
VERSION_ID=83b7ce6
PRETTY_NAME="SkiffOS 2020.11"
BUILD_DATE="Thu Dec 31 06:16:26 PST 2020"
BUILD_USER="@forge"
VERSION_FULL="SkiffOS version 2020.11-5-g83b7ce6 (@forge) Thu Dec 31 06:16:26 PST 2020"

 =

[2021-01-21 01:09] Svartingknas commented on #692
Hello
Is there a timeline for the resolution of this issue?
Running a macbook pro 2019 and reinstalled using brew.
Thanks

[2021-01-21 14:37] darealshinji commented on #692
It was fixed here: https://github.com/KittyKatt/screenFetch/commit/f7200af70c527ec01133eef501cab3dbae51688a

[2021-01-26 09:24] 1457384613gh opened #700 "new distro request around fydeos"
**I'm submitting a ...**  (check one with "x")
[code]

**New distro request**
[code]

[2021-01-26 09:26] #700 closed

[2021-01-26 09:30] 1457384613gh opened #701 "New Distro Request: fydeos"
**I'm submitting a ...**  (check one with "x")
[code]
**New distro request**
Distro name: fydeos (that is a branch of ChromiumOS)
Homepage: https://fydeos.com/
Distro logo:
![os_fydeos](https://user-images.githubusercontent.com/69227436/105826525-d29f0900-5ffb-11eb-9011-8c6ecab30303.png)

Package manager: [chromebrew](https://github.com/skycocker/chromebrew)
![Screenshot 2021-01-13 at 15 52 42](ht

[2021-02-08 18:41] dllu opened #703 "Screenfetch does not detect AMD GPU when I have both AMD and NVidia"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**

I have both an AMD Radeon RX 6800 and an NVIDIA Geforce GTX Titan Xp in my computer. Screenfetch only reports the latter:

![2021-02-08-10:32:10:730542617-maim](https://user-images.githubusercontent.com/14482624/107265294-f3526000-69f8-11eb-8cc5-f8de5134a11a.png)

whereas neofetch reports both, although the AMD card shows up as

[2021-02-10 15:25] luisAzcuaga commented on #563
This helped me on Debian 10 (WSL2) 🥳

[2021-02-19 06:59] Ca1seMonika opened #704 "RAM display error"
![image](https://user-images.githubusercontent.com/63452370/108467988-07337700-72c1-11eb-9022-ab059571b03c.png)
it displays wrong ram
but if I switch my language to English
![Screenshot_2021-02-19_22-37-31](https://user-images.githubusercontent.com/63452370/108468535-d6a00d00-72c1-11eb-9af4-9dcde963e408.png)
It works well
Is there any way to fix this error?

[2021-02-21 00:34] imre84 opened #705 "logo cut in half"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**

hello, please check the attached screenshot, I think the line "Intel Corporation Sunrise Point-LP Integrated Sensor Hub (rev 21)" shouldn't cut the logo in half.

![the attached screenshot](https://user-images.githubusercontent.com/5818404/108611965-57572a00-73e4-11eb-8a04-3d82043ecc35.png)

[code]

[2021-02-25 14:42] KittyKatt commented on #574
I'll look into this and get back to you about getting it lined up with neofetch's output.

[2021-02-25 20:05] almitydave commented on #632
I just fixed this locally.  On my machine (Win10), reg query outputs 3 lines: a blank line, key name, key value:
`reg query 'HKCU\Software\Microsoft\Windows\CurrentVersion\Themes' //v 'CurrentTheme'`
returns
[code]
which the line
`Win_theme=$(echo "$themeFile" | awk -F"\\" '{print $NF}' | sed 's|\.theme$||')`
shortens to
[code]
I fixed it by piping the reg query call through tail:
`themeFile="$(re

[2021-02-25 20:32] almitydave commented on #606
I solved both these issues locally (Win10/mintty).  I commented on the multi-line theme problem on [this related issue](https://github.com/KittyKatt/screenFetch/issues/632#issuecomment-786166496) (caused by output from `reg query`).

The ") 64-bit" wrapping is because `wmic os get version` includes \r in the output:
[code]
Line feeds are consumed by the shell, but the carriage return gets into the

[2021-02-27 05:57] hehh2001 commented on #704
和你一样的问题

[2021-02-27 16:05] dalto8 commented on #704
It looks like this happens whenever you have a language where the word for memory is over a certain length.  The result it that `free -b` returns something like this:
[code]

Since the word for mem pushes into the first number, the awk on line 1801 doesn't work.

[2021-02-28 06:02] Ca1seMonika commented on #704
Thanks for your help, edit shell script screenfetch line 1801:
[code]
to
[code]
can solve this problem

谢谢你们的帮助, 把screenfetch shell脚本的1801行由:
[code]
改为
[code]
能解决这个问题

[2021-02-28 10:09] hadzhiyski commented on #696
This is happening on Fedora 33 with the default btrfs setup
[code]
[code]
[code]

[2021-03-01 19:59] DRSDavidSoft commented on #606
I'm afraid this issue still persists, even in `3.9.1`:

[code]

<img height="302" src="https://user-images.githubusercontent.com/4673812/109551317-a63c4800-7ae5-11eb-9450-e5e3514c4348.png" />

[2021-03-02 09:04] alexbangert opened #709 "Can not calculate RAM with german locale"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
Tested with latest Version from https://raw.githubusercontent.com/KittyKatt/screenFetch/master/screenfetch-dev

There is a missing white space following "Speicher:" when calculating memory. Index 7 from `free -b | awk 'NR==2{print $2"-"$7}'` in line 1838 does not exist:
[code]
For comparison lang set to `LANG=en_us_8859_1`:
[cod

[2021-03-05 17:56] AWHubGit opened #710 "syntax error line 1802 operator awaited"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
screenfetch -v
:: Finding distro...found as 'Arch Linux '
:: Finding hostname and user...found as 'xx@xx'
:: Finding kernel version...found as 'x86_64 Linux 5.11.2-arch1-1'
:: Finding current uptime...found as '12h 49m'
:: Finding current package count...found as '1335'
:: Finding current shell...found as 'bash 5.1.4'
:: Finding

[2021-03-15 01:03] Thaodan commented on #704
I have the same issue with `de_DE.UTF-8`.

[2021-03-15 01:47] dalto8 commented on #704
I submitted a PR to resolve the issue a couple of weeks ago.

https://github.com/KittyKatt/screenFetch/pull/708

That being said, there are lot of different ways to fix it.

[2021-03-18 11:41] FrankKair commented on #685
**+1** I'm experiencing the same issue

[2021-03-18 22:45] Hunteerq opened #711 "Bad substitution line 2038: ${DESKTOP_SESSION}"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]
<img width="603" alt="Screenshot 2021-03-18 at 23 43 13" src="https://user-images.githubusercontent.com/15961002/111707268-08b27980-8844-11eb-8849-3b1db0dfca57.png">

[2021-03-19 01:41] KittyKatt commented on #685
Hmmmm. Unsure why that's happening. I'll need to check it out locally and see what's happening. Thanks for the report!

[2021-03-19 01:42] KittyKatt commented on #711
Thanks for reporting. I'll see if I have an environment around to test this.

[2021-03-19 01:44] KittyKatt commented on #704
Can any of you try out master now that I merged #708 ?

[2021-03-19 04:12] Ca1seMonika commented on #704
it seems doesn't work
[code]
and this is the output
![image](https://user-images.githubusercontent.com/63452370/111730319-1ef42000-88ac-11eb-9295-ac0e33be4e8b.png)

[2021-03-19 04:21] KittyKatt commented on #704
That's mighty unfortunate. I'll need to take a longer look at it.

[2021-03-19 04:28] KittyKatt commented on #709
This looks related to #704. Closing this while linking to this from that issue.

[2021-03-19 04:28] #709 closed

[2021-03-19 04:30] KittyKatt commented on #606
I need to revisit this soon. Commenting to remind myself.

[2021-03-19 04:31] KittyKatt commented on #696
Need to setup a VM to test this setup out. I'll have too look through detectDisk logic to figure out what's going on here.

[2021-03-19 04:33] KittyKatt commented on #705
This is happening because detectGPU is detecting multiple things. I have not yet fixed the issue that appears when this happens and it's been around for a long time. I think it's high time I looked into it.

[2021-03-19 04:34] KittyKatt commented on #703
The logic there is gross and absolutely needs revisiting, agreed. I'll try to see what I can do with this.

[2021-03-19 11:46] Hunteerq commented on #711
Sure,

[code]

[2021-03-19 12:44] keuin commented on #710
I have the same problem, on Manjaro 5.9.

uname -r:
[code]

screenfetch:
[code]

It seemed that in line 1801 :

[code]

the dash `-` was printed out directly.

After removing the dash, i.e. `mem=$(free -b | awk 'NR==2{print $2""$7}')`, the error seems to be resolved:

[code]

I don't know if removing the dash `-` will break screenfetch in other environments. Need someone else to look into it.

[2021-03-19 13:45] KittyKatt commented on #710
Your output kind of got mangled there. Could I get a screenshot of what you're experiencing?

[2021-03-19 13:47] KittyKatt commented on #711
The problem here is you have a BASH version below 4.0 installed. That's when ${var,,} was implemented. I can go through there and add a check for 4.0+ and if not, just use `tr` to get the same effect. Gimme a few and I'll try to have a fix out.

[2021-03-19 13:51] KittyKatt commented on #711
@Hunteerq Can you pull from master and try the latest fix?

[2021-03-19 14:40] Hunteerq commented on #711
It works, thank you :)
<img width="678" alt="image" src="https://user-images.githubusercontent.com/15961002/111797342-5de49e80-88c9-11eb-951d-23f401ae6a13.png">

[2021-03-19 14:59] KittyKatt commented on #711
Not a problem at all. Happy it was such an easy fix. Closing!

[2021-03-19 14:59] #711 closed

[2021-03-19 15:02] KittyKatt commented on #698
I'm really interested in getting this added, but I'm curious about that RAM output. It looks like it's using the maximum amount of RAM and that doesn't seem right.

[2021-03-19 15:03] KittyKatt commented on #697
This seems pretty edge case. I could possibly write up a module for the upcoming `fetch` project I'm working on, but I'm not sure this fits into screenfetch that well.

[2021-03-19 15:04] KittyKatt commented on #695
This is a great idea and something that's been kind of on my TODO list for a while. I've got an upcoming project, `fetch`, that you'll be able to do this with quite easily. I'll see if we can get something like this into screenfetch as well.

[2021-03-19 15:06] KittyKatt commented on #689
Yes, screenfetch's RAM calculations include shared+buff/cache. This was kind of a flaw in logic on my part when I made the memory detect function and it's been on my list to go back and revisit this logic at some point, I just haven't had the time.

[2021-03-19 15:10] KittyKatt commented on #695
Right now, with screenfetch's current supported output, you could execute screenfetch this way:

`screenfetch -d '-host'`

And it should remove the user@host line. Let me know if that works for you.

[2021-03-19 18:47] KittyKatt commented on #701
I'll do my best to get on this as soon as I can. So `lspci` doesn't exist? That's going to present some issues for hardware detection if I haven't already fixed that on chrome/chromium OS.

Do any of the following exist?

`lsb_release`
/etc/os-release
/etc/lsb-release

[2021-03-19 19:22] paralin commented on #698
@KittyKatt I think that's a WSL bug, here's how it looks in Neofetch (see PR here): https://github.com/dylanaraps/neofetch/pull/1664

<img width="567" alt="image" src="https://user-images.githubusercontent.com/534887/111832130-9eceba00-88ad-11eb-88e1-32f8c8698f8b.png">

The ASCII for it is this:

[code]

[2021-03-19 22:10] StefanLobbenmeier commented on #695
Thanks, that works for me. I am not on my PC right now but looks good on my phone:

![2B5A6F8F-24D8-4C9B-A974-2B7EE4295873](https://user-images.githubusercontent.com/36509607/111847033-c8580780-88e6-11eb-89eb-084942833955.png)

![5D9264E4-400F-46DB-B1B6-8C9AB2B5F3AB](https://user-images.githubusercontent.com/36509607/111847038-ca21cb00-88e6-11eb-838d-f9a6e0e68d73.png)

[2021-03-19 22:10] #695 closed

[2021-03-19 22:15] KittyKatt commented on #698
Perfect. I'll do my best to get this added soon. And also added to my new project, fetch.

[2021-03-20 00:53] KittyKatt commented on #690
Using external tools is totally fine and even encouraged if they get the job done in a much easier manner, so long as we can be relatively certain those tools will be there given a certain set of constraints (like wm=awesome). Feel free to open a PR.

[2021-03-20 03:22] paralin commented on #698
Thanks! And screen fetch was added to Buildroot mainline as a package as well.

[2021-03-20 09:19] AWHubGit commented on #710
![screenfetch_2_2021-03-20_09-36](https://user-images.githubusercontent.com/10176767/111865078-275c6180-8965-11eb-87a7-3568089b2125.png)

![screenfetch_1_2021-03-20_09-36](https://user-images.githubusercontent.com/10176767/111865098-583c9680-8965-11eb-9e3c-5faa661a7535.png)

Look at: "/usr/bin/screenfetch: Zeile 1802: 2742906880-: Syntaxfehler: Operator erwartet. (Fehlerverursachendes Zeichen ist

[2021-03-22 08:51] daxiaraoming commented on #704
`mem=$(LANG=en_US.UTF-8 free -b | awk 'NR==2{print $2"-"$6}')` works for me
or replace the full width colon `：` in my case
`mem=$(free -b | awk 'sub(/：/,":")' | awk -F ':' 'NR==1{print $2}' | awk '{print $1"-"$6}')`

[2021-03-22 08:55] daxiaraoming commented on #710
Duplicate of #704

[2021-03-22 12:44] dalto8 commented on #704
Does this require the `en_US.UTF-8` locale to be enabled on your system?  Maybe `LANG=C` instead?

[2021-03-22 16:24] KittyKatt commented on #704
`LANG=C` would be better if someone could test that. We can't guarantee everyone has en_US enabled.

[2021-03-22 16:26] #690 closed

[2021-03-23 01:21] daxiaraoming commented on #704
`LANG=C`works for me

[2021-03-23 03:44] KittyKatt commented on #704
I'll try to get a fix tested tomorrow at work and committed to close this and the other issues about this.

[2021-03-24 23:05] unixb0y commented on #685
@KittyKatt awesome thanks!

[2021-03-25 02:48] c02y opened #714 "[Bug report] If snapd is not running, screenfetch gets stuck"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]
[code]

The `screenfetch` script has the following part:
https://github.com/KittyKatt/screenFetch/blob/7b8774cc31a61972b38d39958fcbda39bce4d2f5/screenfetch-dev#L1482-L1488

But it doesn't take one situation into account that snapd is not running in background, for me, `snap list` will take forever (more than 2mins), I got

[2021-03-25 16:08] KittyKatt commented on #714
This makes total sense on why it stalls. Should have thought of that when this got written ages ago.

[2021-03-31 20:17] ssonnenwald opened #715 "WSL2 Ubuntu 20.04 no X - screenfetch hangs"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
Screenfetch(version 3.9.1)
-- When DISPLAY has an ip on a WSL2 Unbuntu 20.04 without X then screenfetch just hangs for awhile then prints xdpyinfo:  unable to open display "xxxxxxx"
-- If I export DISPLAY="" then it works fine.

Distro name:
Homepage:
Distro logo:
Package manager:

Show us the output of
 => lsb_release -sirc
 =>

[2021-03-31 23:29] ssonnenwald commented on #715
Maybe try something like this:

x_works(){
     # If there is no xdpyinfo
     # Bash will return 127
     # If X cant connect, it returns 1
     # If X can connect, it returns 0
     xdpyinfo 1>/dev/null 2>&1
     WORKS="$?"
     return $WORKS
  }

  if x_works; then

[2021-04-01 08:11] #393 closed

[2021-04-17 13:51] japanese-goblinn opened #716 "m1 macbook support"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
<img width="907" alt="Screenshot 2021-04-17 at 16 50 12" src="https://user-images.githubusercontent.com/33631005/115115398-fb042700-9f9c-11eb-8fef-3bacd4ed96d4.png">

[2021-04-17 13:52] japanese-goblinn commented on #716
As far as i can tell problem is that for some reason script trying to read from `/proc` which is not available on `macOS`

[2021-04-26 04:51] Raghav-Dixit commented on #716
I have the same problem, but I am on an Intel Mac (macOS v11.2.3).

[2021-04-26 15:31] japanese-goblinn commented on #716
well, that's pretty weird

[2021-04-26 18:59] nobbe64 commented on #704
LC_ALL=C screenfetch does the trick. At least for me

[2021-05-17 15:56] pgoggijr commented on #692
it's fixed in master, but there hasn't been a release cut with this change

[2021-05-18 16:11] ochbob commented on #684
Same issue for me on Debian 11

`screenfetch -v
:: Finding distro...found as 'Debian 11'
:: Finding hostname and user...found as 'root@LINOLOGY'
:: Finding kernel version...found as 'x86_64 Linux 5.11.21'
:: Finding current uptime...found as '5h 13m'
:: Finding current package count...found as '1958'
:: Finding current shell...found as 'bash 5.1.4'
:: Finding current resolution(s)...found as 'No X

[2021-05-18 18:49] nedy13 commented on #696
I observe the same issue. I checked a little bit the script. Don't really understand why this happened.

I executed the parts in the script directly in the console.

[code]

Is there something I have missed to check? What can I do to help with this issue?

[2021-05-24 11:58] ironzombi commented on #716
fyi if you installed from homebrew, line 1051 in ```/usr/local/Cellar/screenfetch/3.9.1/bin/screenfetch``` (I installed from brew on 24th may 2021 intel mac v11.3.1)
```1051                     if [[ -x /usr/bin/sw_vers ]] && /usr/bin/sw_vers | grep -i 'Mac OS X' >/dev/null; then```
change to
```1051                     if [[ -x /usr/bin/sw_vers ]] && /usr/bin/sw_vers | grep -i 'macOS' >/dev/null;

[2021-05-27 18:07] david-0609 commented on #696
Same issue on fedora 34, screenfetch detected the usage as 102G/968G, which are both double my actual storage space and usage

[2021-06-07 08:17] hzhangxyz opened #727 "[Bug] screenfetch print error message when LANG=zh_CN.UTF-8"
My screenfetch output is
[code]

This is because screenfetch get the result from `free -b`, while when LANG=zh_CN.UTF-8, the result cannot be split by space. So later `awk` give the wrong result

I have create an issue for `free` [here](https://gitlab.com/procps-ng/procps/-/issues/213)

---

`free -b` output:
[code]

`screenshot` problematic code
[code]

[2021-07-06 02:52] linux6os opened #730 "[Distro Request]"
[ ] bug report
[x] new distro request

**New distro request**
[code]

[2021-07-06 03:02] linux6os commented on #730
![Uploading Screenshot_20210706_082113.png…]()

[2021-07-06 03:02] linux6os commented on #730
![logo](https://user-images.githubusercontent.com/86717971/124535997-c0d85200-de34-11eb-80b2-b13e0d9f9e9a.png)

[2021-07-14 10:20] ZhengweiHou opened #731 "free command parsing error in Chinese operating system"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]
[code]

我是中文版系统
[code]
you can fix it by screenfetch-dev line:18050:
[code]

[2021-07-14 10:58] ZhengweiHou commented on #731
Similar bug #727 #710

[2021-07-27 17:50] gnaggnoyil commented on #731
Possibly duplicate: #704

[2021-07-29 13:38] #730 closed

[2021-08-29 21:10] 4310V343k commented on #606
He never did

[2021-09-15 12:53] pbaudoux commented on #716
Thanks @ironzombi!

If the reported disk usage is wrong, you can change line 1717 to give `df` another mount point (default is `/`).

In my case I had to change it to:
`1717 totaldisk=$(df -H /System/Volumes/Data 2>/dev/null | tail -1)`

If support for M1 MacBook is added to screenfetch, is this something we can improve/modify ?
My educated guess is that this is related to APFS, so I think it affe

[2021-09-26 03:53] gMan1990 commented on #669
[code]

[2021-10-30 02:57] mattdm opened #739 "Please update Fedora Linux logo to new version (screenfetch ascii provided)"
**I'm submitting a ...**  (check one with "x")
[code]

**New distro request**
[code]

[2021-12-29 04:27] bonbisu commented on #716
@japanese-goblinn You can use `neofetch` as an alternative as long as it doesn't support m1 yet. Can be installed with `brew`.
https://github.com/dylanaraps/neofetch

[2021-12-30 14:13] japanese-goblinn commented on #716
thanks

[2021-12-30 14:13] #716 closed

[2022-01-04 01:07] airvzxf opened #740 "Arch Linux: Slow trying to find current package count."
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]
`$ screenfetch -V`
screenFetch - Version 3.9.1

The problem is coming when I updated the Arc Linux packages, then I noticed every time that I open the terminal it takes a lot of time to show the ScreenFetch. I run the verbose option and the issue looks when it is trying to retrieve the number of packages because it takes

[2022-01-04 01:49] airvzxf commented on #740
I found the problem, it is on the line number [1449](https://github.com/KittyKatt/screenFetch/blob/29c88fb1f8816ea64d4f4877c3d47773367915bb/screenfetch-dev#L1449): `	if [[ "${OSTYPE}" =~ "linux" && -z "${wsl}" ]] && snap list >/dev/null 2>&1; then`. In my case, I recently installed the `snap` package, but I don't enable in the `systemctl`, it means that my laptop doesn't execute the `snapd.service

[2022-01-29 23:36] linuxlite opened #741 "Request: Add Linux Lite"
**I'm submitting a ...**  (check one with "x")
[code]

**New distro request**
[code]

[2022-01-31 11:42] danwdart opened #742 "Fast mode?"
**I'm submitting a ...**  (check one with "x")
[code]

Can we have a fast mode so I can add it to .bashrc?
Is there some kind of caching system or just a mode to say "get only the things that won't take ages to get"?
Thanks!

[2022-02-07 01:38] gungwald opened #744 "Support OpenIndiana"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]

**New distro request**
[code]

[2022-02-24 20:28] viniciusgomes commented on #692
I try now and its very easy man, just go this way;

Run
[code]

Then go to the line [1057](https://github.com/KittyKatt/screenFetch/blob/master/screenfetch-dev#L1057): like @marslo told and replace the line
[code]

Restart your terminal and done!

[2022-04-06 10:35] dccoder84 opened #746 "Feature request: Add graphic driver version to output"
Or at least make it an optional var.
For example something like "Mesa 22.0.1" which is available via the command:
glxinfo | grep -i opengl

[2022-04-30 03:41] dddachui opened #747 "Can't display the correct info and art on KylinSec linux"
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
[code]
it looks as
[code]
**New distro request**
[code]

- this is  lsb_release
[code]
- this is os-release
[code]
- this is all release
[code]

[2022-08-01 03:27] BronzedOreo opened #750 "awk: can't open file /proc/cpuinfo"
**I type screenfetch and it prompts for awk: can't open file /proc/cpuinfo and grep: /proc/cpuinfo: No such file or directory**
<img width="601" alt="image" src="https://user-images.githubusercontent.com/71474660/182065497-c9628e44-0b64-4b26-9fb4-e8faf63c7ae3.png">

**I can't find /proc/cpuinfo in the file either**
<img width="605" alt="image" src="https://user-images.githubusercontent.com/7147466

[2022-08-05 14:01] BlueGone commented on #646
Resolved by #664

[2022-08-05 14:01] #646 closed

[2022-08-20 12:31] linuxlite commented on #741
Is this application still being maintained? Cheers.

[2022-08-20 12:33] linuxlite commented on #741
Linux Lite 6.2 info:

[code]

[2022-08-27 16:08] #747 closed

[2022-09-08 08:46] x09 opened #751 "Crash - shell level (1000) too high"
**I'm submitting a
[code]

**Bug report**

Add this to ~/.bashrc
[code]
Open new bash and get
[code]

Versions used
[code]

[2022-09-15 09:46] x0341 opened #752 "BUG: screenfetch -w reports "[[ ! ]] Error: You're missing an argument somewhere. Exiting.""
**I'm submitting a ...**  (check one with "x")
[code]

**Bug report**
screenfetch -w reports "[[ ! ]] Error: You're missing an argument somewhere. Exiting."

solved with "screenfetch -w ."

![image](https://user-images.githubusercontent.com/1771943/190372545-67d0a69d-8083-48e8-9637-4484dd028449.png)

[2022-09-17 19:12] bowwowxx commented on #750
I have the same problem, my notebook is mac m1 pro 16,
I found the information of /usr/bin/sw_vers as follows
![截圖 2022-09-18 上午3 07 34](https://user-images.githubusercontent.com/6083986/190872815-bd6ed592-9a28-493c-a1f3-59f4a71fca0f.png)

So I modified /opt/homebrew/Cellar/screenfetch/3.9.1/bin/screenfetch
The content is
if [[ -x /usr/bin/sw_vers ]] && /usr/bin/sw_vers | grep -i 'macOS' >/dev/nul

[2022-09-26 07:28] tocic opened #754 "Invocation causes a warning about stray \ before " in grep"
**Bug report**
- [x] search Github for a similar issue or PR before submitting
- [x] download the latest revision from Github and check if the bug is still present
- [x] show us the output of `screenfetch -v`

The above warning is emitted with `grep --version`:

Presumably caused by [this](https://git.savannah.gnu.org/cgit/grep.git/tree/NEWS):

[Seems that other people experience the behavior too]

[2022-09-28 16:57] johnpekcan commented on #692
Can confirm, fixed it for me as well. Thank you @marslo . Can we cut a new release @KittyKatt ?

[2022-09-28 17:10] KittyKatt commented on #692
Yes, might need to be in a couple of days if that's okay?

[2022-09-28 18:37] johnpekcan commented on #692
Yup yup, we can most certainly handle that 😇 , thank you @KittyKatt !

[2022-11-03 16:45] meetrp commented on #750
To support legacy MacOS version string, My change was:
**[Original code]** `if [[ -x /usr/bin/sw_vers ]] && /usr/bin/sw_vers | grep -i 'Mac OS X' >/dev/null; then`
**[Changed code]** `if [[ -x /usr/bin/sw_vers ]] && /usr/bin/sw_vers | grep -i -e 'Mac OS X' -e 'macOS' >/dev/null; then`

[2022-11-17 21:36] MiShiOfficial commented on #242
Anyone been able to run it on bare metal, doesn't seam to run on newer hardware.

[2022-11-22 04:39] MiShi-Official commented on #242
Anyway to get it working on modern hardware?

[2022-11-26 13:53] #754 closed